{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" media="screen">
</head>
<body>
    <!-- Header start-->
    {% include 'bioware/includes/header.html' %}
    <!-- Header end -->
    <main>
        <!-- Cover start -->
        <section class="section-block cover">
            <div class="cover__picture"></div>
                <div class="wrapper">
                    <div class="cover__wrap">
                        <h1 class="cover__title cover__title_first-line">
                            look deeper
                        </h1>
                        <h1 class="cover__title cover__title_second-line">
                            into
                        </h1>
                        <h1 class="cover__title cover__title_third-line">
                            bioware
                        </h1>
                        <p class="cover__desc">
                            We’re passionate about quality in our workplace and in our products
                        </p>
                    </div>
                </div>
        </section>
        <!-- Cover end -->

        <!-- Introduction start -->
        <section class="section-block introduction">
            <div class="wrapper">
                <div class="section-frame black-frame-line">Introduction</div>
                <div class="section-caption introduction__caption">
                    <h3 class="section-caption__title">BioWare is a Canadian video game developer based in Edmonton, Alberta.</h3>
                    <p class="section-caption__desc">We develop high-quality console, PC, and online role-playing games focused on rich stories, unforgettable characters, and vast worlds to discover.</p>
                </div>
                <ul class="achivments">
                    <li class="achivments__obj achivments__obj_awards">
                        <h2 class="achivments__number">51</h2>
                        <p class="achivments__desc">Received Awards</p>
                    </li>
                    <li class="achivments__obj achivments__obj_projects">
                        <h2 class="achivments__number">20</h2>
                        <p class="achivments__desc">Finished projects</p>
                    </li>
                    <li class="achivments__obj achivments__obj_hours">
                        <h2 class="achivments__number">50k+</h2>
                        <p class="achivments__desc">Hours to develop our games</p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Intoduction end-->

        <!-- Values start -->
        <section class="section-block values">
            <div class="wrapper">
                <div class="section-frame black-frame-line">Our values</div>
                <div class="section-caption">
                    <h3 class="section-caption__title">Our mission is to create worlds of adventure, conflict and companionship.</h3>
                    <p class="section-caption__desc">BioWare’s story continues to evolve. It is our goal to create a work environment that is hardworking and fun. We want to inspire you to become the hero of your story.</p>
                </div>
                <ul class="values-list">
                    <li class="values-item">
                        <div class="values-item__pic">
                            <img src="{% static 'img/svg/values-item1.svg' %}" alt="Passion for excellence" class="values-item__img">
                        </div>
                        <p class="values-item__desc">Passion for excellence</p>
                        <div class="values-item__border"></div>
                    </li>
                    <li class="values-item">
                        <div class="values-item__pic">
                            <img src="{% static 'img/svg/values-item2.svg' %}" alt="Amazing storytelling" class="values-item__img">
                        </div>
                        <p class="values-item__desc">Amazing storytelling</p>
                        <div class="values-item__border"></div>
                    </li>
                    <li class="values-item">
                        <div class="values-item__pic">
                            <img src="{% static 'img/svg/values-item3.svg' %}" alt="Humility and integrity" class="values-item__img">
                        </div>
                        <p class="values-item__desc">Humility and integrity</p>
                        <div class="values-item__border"></div>
                    </li>
                    <li class="values-item">
                        <div class="values-item__pic">
                            <img src="{% static 'img/svg/values-item4.svg' %}" alt="Courageous creativity" class="values-item__img">
                        </div>
                        <p class="values-item__desc">Courageous creativity</p>
                        <div class="values-item__border"></div>
                    </li>
                    <li class="values-item">
                        <div class="values-item__pic">
                            <img src="{% static 'img/svg/values-item5.svg' %}" alt="Achieving as a team" class="values-item__img">
                        </div>
                        <p class="values-item__desc">Achieving as a team</p>
                        <div class="values-item__border"></div>
                    </li>
                    <li class="values-item">
                        <a href="/" class="section-more-btn values__more">
                            Learn more
                            <img src="{%static 'img/svg/link-arrow.svg' %}" alt="btn-arrow" class="section-more-btn__arrow">
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Values end -->

        <!-- Heritages start -->
        <section class="heritages white-section">
            <div class="wrapper">
                <div class="section-frame blue-frame white-frame-line">Our heritage</div>
                    <h3 class="section-caption__title black-text haritages__title">Deep within a western Canadian province known for big skies, majestic mountains, and golden fields, BioWare was born.</h3>
                <div id="timeline">
                    <ul id="dates">
                        <li><a href="#1990s">1990s</a></li>
                        <li><a href="#2000s">2000s</a></li>
                        <li><a href="#2010s">2010s</a></li>
                        <li><a href="#2020s">2020s</a></li>
                    </ul>
                    <div class="timeline__arrows">
                        <a href="#" id="prev">-</a>
                        <a href="#" id="next">+</a>
                    </div>
                    <ul id="issues">
                        <li id="1990s" class='slide'>
                            <div class="issue">
                                <h4 class="issue__year">1995</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare Foundation</h4>
                                    <p class="issue__desc">BioWare was founded by Ray Muzyka and Greg Zeschuk, alongside Trent Oster, his brother Brent,
                                        Zeschuk's cousin Marcel, and Augustine Yip. Their success in the medical field provided them with the funding they
                                        needed to launch a video game company.
                                    </p>
                                    <p class="issue__desc">
                                        To make their first game, they pooled their resources, which resulted in
                                        capital of $100,000. The company was incorporated on 1 February 1995, though formally launched on 22 May 1995
                                    </p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/about-timeline-1995.jpg' %}" alt="Bioware-Logo" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">1996</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">The first game - Shattered Steel</h4>
                                    <p class="issue__desc">Bioware's first game, Shattered Steel, began its life as a proof-of-concept demo, similar to the
                                        MechWarrior games. Shattered Steel's release was described by IGN as a "modest success" with "decent sales".
                                    </p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/about-timeline-1996.jpg' %}" alt="Shattered Steel" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">1998</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">Chaos Threatens To Overwhelm The Sword Coast</h4>
                                    <p class="issue__desc">
                                        Baldur's Gate was released on December 21, 1998.
                                    </p>
                                    <p class="issue__desc">The game was initially titled Forgotten Realms. According to Muzyka, "our head programmer
                                        has actually read every one of the [Forgotten Realms] books - everything, every single one of the short stories
                                        and the paperbacks. He made a point of it. He really wanted to immerse himself". The game required 90
                                        man-years of development, which was spent simultaneously creating the game's content and the BioWare Infinity
                                        Engine.
                                    </p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/about-timeline-1998.jpg' %}" alt="Baldur's Gate" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">1998</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">Chaos Threatens To Overwhelm The Sword Coast</h4>
                                    <p class="issue__desc">
                                        Baldur's Gate was released on December 21, 1998.
                                    </p>
                                    <p class="issue__desc">The game was initially titled Forgotten Realms. According to Muzyka, "our head programmer
                                        has actually read every one of the [Forgotten Realms] books - everything, every single one of the short stories
                                        and the paperbacks. He made a point of it. He really wanted to immerse himself". The game required 90
                                        man-years of development, which was spent simultaneously creating the game's content and the BioWare Infinity
                                        Engine.
                                    </p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/about-timeline-1998.jpg' %}" alt="Baldur's Gate" class="issue__img">
                                </div>
                            </div>
                        </li>
                        <li id="2000s" class='slide'>
                            <div class="issue">
                                <h4 class="issue__year">2000</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare created Baldur's Gate II</h4>
                                    <p class="issue__desc">Baldur’s Gate II: Shadows of Amn was released in 2000, two years after the release
                                        of Baldur’s Gate. Baldur’s Gate II sold two million copies, matching the sales of the first game in the
                                        series.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2000.jpg' %}" alt="Baldur's Gate II" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">2005</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare became a unit of EA</h4>
                                    <p class="issue__desc">In November 2005, it was announced that BioWare and
                                        Pandemic Studios would be joining forces, with private equity fund Elevation Partners investing in the
                                        partnership. On 11 October 2007, however, it was announced that this new partnership had been bought by
                                        Electronic Arts.</p>
                                    <p class="issue__desc">BioWare therefore became a unit of EA, but retained its own branding. The growth
                                        of the MMORPG group as part of Electronic Arts in 2008 resulted in three additional studios being added
                                        to the BioWare group outside BioWare’s original home base in Edmonton.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2005.jpg' %}" alt="Bioware-EA-Logo" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">2008</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare released Mass Effect and Sonic Chronicles</h4>
                                <p class="issue__desc">BioWare released the science fiction role-playing game Mass Effect. The following
                                    year, BioWare released Sonic Chronicles: The Dark Brotherhood on the Nintendo DS, its first title for
                                    a handheld game console.</p>
                                </div>
                            <div class="issue__pic">
                                <img src="{% static 'img/timeline-2008.jpg' %}" alt="Mass Effect" class="issue__img">
                            </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">2009</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare made Dragon Age: Origins</h4>
                                <p class="issue__desc">BioWare released the critically acclaimed fantasy role-playing game Dragon Age:
                                    Origins. It is the first game in the Dragon Age franchise, and was released for Microsoft Windows,
                                    PlayStation 3, Xbox 360 and for Mac OS X.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2009.jpg' %}" alt="DA-Origin" class="issue__img">
                                </div>
                            </div>
                        </li>
                        <li id="2010s" class='slide'>
                            <div class="issue">
                                <h4 class="issue__year">2000</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare created Baldur's Gate II</h4>
                                    <p class="issue__desc">Baldur’s Gate II: Shadows of Amn was released in 2000, two years after the release
                                        of Baldur’s Gate. Baldur’s Gate II sold two million copies, matching the sales of the first game in the
                                        series.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2000.jpg' %}" alt="Baldur's Gate II" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">2005</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare became a unit of EA</h4>
                                    <p class="issue__desc" style="margin-bottom: 15px;">In November 2005, it was announced that BioWare and
                                        Pandemic Studios would be joining forces, with private equity fund Elevation Partners investing in the
                                        partnership. On 11 October 2007, however, it was announced that this new partnership had been bought by
                                        Electronic Arts.</p>
                                    <p class="issue__desc">BioWare therefore became a unit of EA, but retained its own branding. The growth
                                        of the MMORPG group as part of Electronic Arts in 2008 resulted in three additional studios being added
                                        to the BioWare group outside BioWare’s original home base in Edmonton.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2005.jpg' %}" alt="Bioware-EA-Logo" class="issue__img">
                                </div>
                            </div>
                        </li>
                        <li id="2020s" class='slide'>
                            <div class="issue">
                                <h4 class="issue__year">2020</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare created Baldur's Gate II</h4>
                                    <p class="issue__desc">Baldur’s Gate II: Shadows of Amn was released in 2000, two years after the release
                                        of Baldur’s Gate. Baldur’s Gate II sold two million copies, matching the sales of the first game in the
                                        series.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2000.jpg' %}" alt="Baldur's Gate II" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">2021</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare became a unit of EA</h4>
                                    <p class="issue__desc" style="margin-bottom: 15px;">In November 2005, it was announced that BioWare and
                                        Pandemic Studios would be joining forces, with private equity fund Elevation Partners investing in the
                                        partnership. On 11 October 2007, however, it was announced that this new partnership had been bought by
                                        Electronic Arts.</p>
                                    <p class="issue__desc">BioWare therefore became a unit of EA, but retained its own branding. The growth
                                        of the MMORPG group as part of Electronic Arts in 2008 resulted in three additional studios being added
                                        to the BioWare group outside BioWare’s original home base in Edmonton.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2005.jpg' %}" alt="Bioware-EA-Logo" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">2021</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare released Mass Effect and Sonic Chronicles</h4>
                                <p class="issue__desc">BioWare released the science fiction role-playing game Mass Effect. The following
                                    year, BioWare released Sonic Chronicles: The Dark Brotherhood on the Nintendo DS, its first title for
                                    a handheld game console.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2008.jpg' %}" alt="Mass Effect" class="issue__img">
                                </div>
                            </div>
                            <div class="issue">
                                <h4 class="issue__year">2022</h4>
                                <div class="issue__text">
                                    <h4 class="issue__title">BioWare made Dragon Age: Origins</h4>
                                <p class="issue__desc">BioWare released the critically acclaimed fantasy role-playing game Dragon Age:
                                    Origins. It is the first game in the Dragon Age franchise, and was released for Microsoft Windows,
                                    PlayStation 3, Xbox 360 and for Mac OS X.</p>
                                </div>
                                <div class="issue__pic">
                                    <img src="{% static 'img/timeline-2009.jpg' %}" alt="DA-Origin" class="issue__img">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Heritages end -->

        <!-- Awards start -->
        <section class="awards">
            <div class="wrapper">
                <div class="section-frame black-frame-line">Awards and recognition</div>
                <div class="section-caption awards__caption">
                    <h3 class="section-caption__title">Our games have won many awards related to the gaming industry.</h3>
                    <ul class="section-caption__desc">
                        <li class="award">
                            <img src="{% static 'img/svg/award1.svg' %}" alt="Canada's Top 100 Employers" class="award__thumb">
                            <p>Canada's Top 100 Employers</p>
                            <p class="award__year">2018</p>
                        </li>
                        <li class="award">
                            <img src="{% static 'img/svg/award2.svg' %}" alt="Video Game Awards" class="award__thumb">
                            <p>Video Game Awards</p>
                            <p class="award__year">2010</p>
                        </li>
                        <li class="award">
                            <img src="{% static 'img/svg/award2.svg' %}" alt="Hall of Fame induction" class="award__thumb">
                            <p>Hall of Fame induction</p>
                            <p class="award__year">2010</p>
                        </li>
                        <li class="award award_nth-last">
                            <img src="{% static 'img/svg/award2.svg' %}" alt="Game Developer of the Year" class="award__thumb">
                            <p>Game Developer of the Year</p>
                            <p class="award__year">2008</p>
                        </li>
                        <li>
                            <a href="#!" class="section-more-btn">
                                See full list of awards
                                <img src="{%static 'img/svg/link-arrow.svg' %}" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Awards end -->

        <!-- Studios start -->
        <section class="studios white-section">
            <div class="wrapper">
                <div class="section-frame blue-frame white-frame-line">Our studios</div>
                <div class="studios-cards">
                    {% for studio in studio_list %}
                    <div class="studios-card">
                        <div class="studios-card__lg-rectangle">
                            <h4 class="studios-card__title">{{studio.address2|truncatewords:1|slice:"-1"}}</h4>
                        </div>
                        <div class="studios-card__sm-rectangle"></div>
                        <div class="studios-card__sub-rectangle"></div>
                        <div class="studios-card__photo">
                            <img src="{{studio.image.url}}" alt="Edmont" class="studios-card__img">
                        </div>
                        <p class="studios-card__address">
                            {{studio.address1}}<br>
                            {{studio.address2}}<br>
                            {{studio.zip_code}}
                        </p>
                        <p class="studios-card__phone">{{studio.phone}}</p>
                        <a href="bioware/contacts.html#edmond" class="studios-card__link"></a>
                    </div>
                    {% endfor %}
                </div>
                <div class="studios__more">
                    <a href="{% url 'bioware:contacts' %}" class="section-more-btn">
                        See contacts
                        <img src="{% static 'img/svg/link-arrow-black.svg' %}" alt="btn-arrow" class="section-more-btn__arrow">
                    </a>
                </div>
            </div>
        </section>
        <!-- Studios end -->
        <div class="wrapper">
            <a href="{% url 'bioware:game_list' %}" class="go-to-other-page">
                Go to our games
                <img src="{% static 'img/svg/link-arrow-lg.svg' %}" alt="btn-arrow" class="go-to-other-page__arrow">
            </a>
        </div>
    </main>
    <!-- Footer start-->
    {% include 'bioware/includes/footer.html' %}
    </footer>
    <!-- Footer end -->
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.timelinr-0.9.7.js' %}"></script>
    <script>
        $(function(){
        $().timelinr({
            arrowKeys: 'true'
        })
        });
    </script>
</body>
</html>