{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css"  href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/games.css' %}"/>
{% endblock %}
{% block content %}
    <!-- Cover starts -->
    <section class="section-block cover">
        <div class="wrapper">
            <div class="cover__wrap">
                <h1 class="cover__title cover__title_first-line">Welcome</h1>
                <p class="cover__desc">BioWare creates games focused on rich stories, unforgettable characters, vast worlds</p>
                <h1 class="cover__title cover__title_second-line">TO</h1>
                <div class="cover__pic">
                    <img src="{% static 'img/games-cover-pic.jpg' %}" alt="" class="cover__img">
                </div>
                <h1 class="cover__title cover__title_third-line">ADVENTURE</h1>
            </div>
        </div>
    </section>
    <!-- Cover ends -->
    <!-- Projects start -->
    <section class="section-block projects">
        <div class="wrapper">
            <h6 class="section-frame black-frame-line">Featured projects</h6>
            <div class="projects-cards">
                {% for game in game_list %}
                <div class="projects-card">
                    <div class="projects-card__pic">
                        <img src="{{game.image.url}}" alt="MASS EFFECT" class="projects-card__img">
                    </div>
                    {% if forloop.last %}
                    <div class="projects-card__text last-card" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                    {% else %}
                    <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                    {% endif %}
                        <div class="projects-card__caption">
                            <button class="projects-card__title">{{game.title}}</button>
                            <button class="projects-card__button"></button>
                        </div>
                        <div class="projects-card__desc">
                            <p>{{game.description|linebreaks}}</p>
                        </div>
                        <a href="{{game.get_absolute_url}}" class="section-more-btn projects-more">
                            Learn more
                            <img src="{% static 'img/svg/link-arrow.svg' %}" alt="btn-arrow" class="section-more-btn__arrow">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Projects end -->
    <!-- Archive start-->
    <section class="section-block archive">
        <div class="wrapper">
            <div class="section-frame black-frame-line">Archive</div>
            <div class="section-caption archive-caption">
                <h3 class="section-caption__title">Please explore our previous games. They are also great and our beloved projects.</h3>
                <div class="archive-projects" id="projects">
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">JADE EMPIRE</a>
                    <span class="archive-projects__slash">/</span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">STAR WARS: KNIGHTS OF THE OLD REPUBLIC</a>
                    <span class="archive-projects__slash"> / </span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">NEVERWINTER NIGHTS</a>
                    <span class="archive-projects__slash"> / </span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">BALDUR'S CATE II</a>
                    <span class="archive-projects__slash"> / </span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">BALDUR'S CATE</a>
                    <span class="archive-projects__slash"> /</span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">MDK2</a>
                    <span class="archive-projects__slash"> / </span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">SHATTERED STEEL</a>
                    <span class="archive-projects__slash"> / </span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">MASS EFFECT GALAXY</a>
                    <span class="archive-projects__slash"> / </span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">SONIC CHRONICLES</a>
                    <span class="archive-projects__slash"> / </span>
                    <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">THE DARK BROTHERHOOD</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Archive end-->
    <div class="wrapper">
        <a href="{% url 'bioware:game_detail' 'mass-effect-legendary-edition' %}" class="go-to-other-page">
            Go to Mass Effect
            <img src="{% static 'img/svg/link-arrow-lg.svg' %}" alt="btn-arrow" class="go-to-other-page__arrow">
        </a>
    </div>
    {% endblock %}
    {% block js %}
        <script src="{% static 'slick/slick.min.js' %}"></script>
        <script src="{% static 'scripts/games.js' %}"></script>
    {% endblock %}