{% extends 'base.html' %}
{% load static %}
{% block title %}{{title|join:" "|title}}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css"  href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/game_detail.css' %}"/>
    {% block game-css %}{% endblock %}
{% endblock %}
{% block content %}
    <!-- Cover start -->
    {% block game-cover %}{% endblock %}
    <!-- Cover end -->
    <!-- About start -->
    <section class="section-block about">
        <div class="wrapper">
            <div class="section-frame black-frame-line">About the game</div>
            <div class="section-caption custom-caption">
                <h3 class="section-caption__title">{{game.intro}}</h3>
                <div class="about-cards">
                    {{game.description|linebreaks}}
                    <div class="about-card__caption">
                        <h6 class="about-card__title">Release	date</h6>
                        <p class="about-card__info">{{game.rel_date}}</p>
                    </div>
                    <div class="about-card__caption">
                        <h6 class="about-card__title">Platforms</h6>
                        <p class="about-card__info">{{game.platforms}}</p>
                    </div>
                    </div>
                </div>
            <div class="slider">
                {% for slide in game.Slide.all %}
                <div><img src="{{slide.image.url}}"></div>
                {% endfor %}
            </div>
            <a href="#!" class="section-more-btn about__more">
                Watch the trailer
                <img src="{% static 'img/svg/link-arrow.svg' %}" alt="" class="section-more-btn__arrow">
            </a>
        </div>
    </section>
    <!-- About end -->
    {% block game-content %}{% endblock %}

    {% if game.news.all %}
    <!-- News start -->
    <section class="section-block news">
        <div class="wrapper">
            <div class="section-frame black-frame-line">News</div>
            <div class="section-caption">
                <h3 class="section-caption__title">Get the latest information about {{game.title}}.</h3>
            </div>
            <ul class="news-cards">
                <li class="news-card news-card_main-card">
                    <div class="news-card__pic">
                        <img src="{{game.news.first.image.url}}" alt="main-news-pic" class="news-card__img">
                    </div>
                    <div class="news-card__desc">
                        <h6 class="news-card__date">{{game.news.first.pub_date}}</h6>
                        <h5 class="news-card__title">{{game.news.first.title}}</h5>
                        <p class="news-card__text">{{game.news.first.intro}}</p>
                    </div>
                    <a href="#!" class="news-card__link"></a>
                </li>
                {% for news in game.news.all|slice:"1:" %}
                <li class="news-card {% if forloop.counter == 1 %} news-card_second-card {% elif forloop.counter == 2 %} news-card_third-card {% else %} news-card-last-card {% endif %}">
                    <div class="news-card__pic">
                        <img src="{{news.image.url}}" alt="news-pic-{forloop.counter+1}" class="news-card__img">
                    </div>
                    <div class="news-card__desc">
                        <h6 class="news-card__date">{{news.pub_date}}</h6>
                        <h5 class="news-card__title">{{news.title}}</h5>
                        <p class="news-card__text">{{news.intro}}</p>
                    </div>
                    <a href="#!" class="news-card__link"></a>
                </li>
                {% endfor %}
            </ul>
            <div class="news__more">
                <a href="#!" class="section-more-btn news__more">
                    Load more
                    <img src="{% static 'img/svg/link-arrow.svg' %}" alt="" class="section-more-btn__arrow">
                </a>
            </div>
        </div>
    </section>
    <!-- News end -->
    {% endif %}
    <!-- Join-us start -->
    <section class="section-block" id="buynow">
        <div class="wrapper">
            <div class="section-frame black-frame-line">Join us</div>
            <div class="section-caption join-us__caption">
                <h3 class="section-caption__title ">
                    {{game.title}} is now available on {{game.platforms_available|join:", "}}. Please, select your platform.
                </h3>
                <div class="join-us-platforms">
                    {% if game.origin_url %}
                    <div class="join-us-platform origin-platform">
                        <img src="{% static 'img/svg/game-detail-origin-thumb.svg' %}" alt="Origin">
                        Origin
                        <a href="{{game.origin_url}}" class="join-us-platform__link" target="_blank"></a>
                    </div>
                    {% endif %}
                    {% if game.steam_url %}
                    <div class="join-us-platform steam-platform">
                        <img src="{% static 'img/svg/game-detail-steam-thumb.svg' %}" alt="Steam">
                        Steam
                        <a href="{{game.steam_url}}" class="join-us-platform__link" target="_blank"></a>
                    </div>
                    {% endif %}
                    {% if game.ps_url %}
                    <div class="join-us-platform ps-platform">
                        <img src="{% static 'img/svg/game-detail-ps-thumb.svg' %}" alt="PS">
                        PS
                        <a href="{{game.ps_url}}" class="join-us-platform__link" target="_blank"></a>
                    </div>
                    {% endif %}
                    {% if game.xbox_url %}
                    <div class="join-us-platform xbox-platform">
                        <img src="{% static 'img/svg/game-detail-xbox-thumb.svg' %}" alt="Xbox">
                        Xbox
                        <a href="{{game.xbox_url}}" class="join-us-platform__link" target="_blank"></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Join-us end -->
    <div class="wrapper">
        <a href="{{next_game.get_absolute_url}}" class="go-to-other-page">
            Go to {{next_game.title}}
            <img src="{% static 'img/svg/link-arrow-lg.svg' %}" alt="" class="go-to-other-page__arrow">
        </a>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'slick/slick.min.js' %}"></script>
    <script src="{% static 'scripts/game-detail.js' %}"></script>
    {% block js-game%}{% endblock %}
{% endblock %}