{% extends 'game_detail.html' %}
{% load static %}
{% block game-cover %}
    <!-- Cover start -->
    <section class="section-block cover">
        <div class="wrapper">
            <div class="cover__wrap">
                <h1 class="cover__title cover__title_first-word">Mass</h1>
                <h1 class="cover__title cover__title_second-word">Effect</h1>
                <h2 class="cover__subtitle cover__subtitle__first-word">LEGENDARY</h2>
                <h2 class="cover__subtitle cover__subtitle_second-word">EDITION</h2>
                <p class="cover__desc">Relive the complete cinematic saga today</p>
                <img src="{% static 'img/svg/game-detail-intro.svg' %}" alt="MASS EFFECT" class="cover__img">
                <div class="cover__buy-button">
                    Buy now
                    <a href="#buynow"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cover end -->
{% endblock %}
{% block game-content %}
    <!-- Game's features start-->
    <section class="section-block game-features">
        <div class="wrapper">
            <div class="section-frame black-frame-line">Game’s features</div>
            <div class="section-caption game-features-caption">
                <h3 class="section-caption__title games-features-title">Commander Shepard returns in 4K Ultra HD.</h3>
                <p class="section-caption__desc">Take command of the Normandy, assemble your crew, and prepare for an unforgettable adventure in the highly acclaimed series.</p>
            </div>
            <div class="games-features-cards">
                <div class="games-features-card green-card">
                    <h6 class="games-features-card__title">RELIVE THE CINEMATIC SAGA</h6>
                    <p class="games-features-card__desc">Heart-pounding action meets gripping interactive storytelling where you decide how your unique story unfolds.</p>
                </div>
                <div class="games-features-card blue-card">
                    <h6 class="games-features-card__title">EXPERIENCE THE LEGEND OF SHEPARD</h6>
                    <p class="games-features-card__desc">Create and customize your own character, from appearance and skills to a personalized arsenal then lead your elite recon squad across a galaxy.</p>
                </div>
                <div class="games-features-card orange-card">
                    <h6 class="games-features-card__title">REFLECT ON YOUR CHOICES</h6>
                    <p class="games-features-card__desc">Your choices seamlessly travel from one game to the next. Each decision you make will control the outcome of every mission, relationship, battle.</p>
                </div>
                <a href="#!" class="section-more-btn games-features-more">
                    Explore features
                    <img src="{% static 'img/svg/link-arrow.svg' %}" alt="" class="section-more-btn__arrow">
                </a>
            </div>
        </div>
    </section>
    <!-- Game's features end-->
    <!-- Comparison start -->
    <section class="comparison white-section">
        <div class="wrapper">
            <div class="section-frame blue-frame white-frame-line">Comparison</div>
            <div class="section-caption comparison-caption">
                <h3 class="section-caption__title black-text">Remastered and optimized for 4K Ultra HD</h3>
                <p class="section-caption__desc black-text">Relive the cinematic saga with enhanced visuals, textures and models, including modern graphic improvements, updated UI, and more.</p>
            </div>
            <ul class="comparison__control">
                <li class="comparison__button" id='btn-1' onclick=changeButtonColour(1)>Video 1</li>
                <li class="comparison__button active" id='btn-2' onclick=changeButtonColour(2)>Image 1</li>
                <li class="comparison__button" id='btn-3' onclick=changeButtonColour(3)>Video 2</li>
                <li class="comparison__button" id='btn-4' onclick=changeButtonColour(4)>Image 2</li>
                <li class="comparison__button" id='btn-5' onclick=changeButtonColour(5)>Image 3</li>
            </ul>
            <div id="comparison__frame">
                <div class="figure">
                    <video autoplay muted loop id="video-after"></video>
                    <input type="range" min="0" max="100" value="50" id="slider" oninput="moveDivisor()">
                    <div id="divisor">
                        <video autoplay muted loop id="video-before"></video>
                    </div>
                </div>
                <div id="comparison__splitter"></div>
            </div>
        </div>
    </section>
    <!-- Comparison end -->
    <!-- Game-universe start -->
    <section class="section-block">
        <div class="wrapper">
            <div class="section-frame black-frame-line">Mass Effect Universe</div>
            <div class="section-caption">
                <h3 class="section-caption__title">New to the Mass Effect trilogy? Learn about the history of the series, the incredible characters you'll meet, and more.</h3>
                <ul class="section-caption__desc game-universe__features">
                    <li class="game-universe__feature">
                        Game overview
                        <a href="./overview.html" class="game-universe__link"></a>
                    </li>
                    <li class="game-universe__feature">
                        Community hub
                        <a href="./community.html" class="game-universe__link"></a>
                    </li>
                    <li class="game-universe__feature">
                        System requirements
                        <a href="requirements.html" class="game-universe__link"></a>
                    </li>
                    <li class="game-universe__feature">
                        Accessibility
                        <a href="./accessibility.html" class="game-universe__link"></a>
                    </li>
                    <li class="game-universe__feature">
                        Media
                        <a href="./media.html" class="game-universe__link"></a>
                    </li>
                    <li class="game-universe__feature">
                        The Mass Effect Universe
                        <a href="./universe.html" class="game-universe__link"></a>
                    </li>
                    <li class="game-universe__feature">
                        Art creator
                        <a href="./creator.html" class="game-universe__link"></a>
                    </li>
                    <li class="game-universe__feature">
                        Performance details
                        <a href="./details.html" class="game-universe__link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Game-universe end -->
{% endblock %}