/* Cover styles start */

.cover__wrap {
    position: relative;
    height: 431px;
    margin-top: 239px;
}

.cover__title {
    font-family: 'Trap';
    font-style: normal;
    font-weight: 800;
    font-size: 165px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cover__title_first-line {
    position: absolute;
    top: 0;
    left: 0;
}

.cover__title_second-line {
    position: absolute;
    top: 133px;
    right: 0;
}

.cover__title_third-line {
    position: absolute;
    top: 266px;
    left: 0;
}

.cover__desc {
    position: absolute;
    bottom: 34px;
    right: 0;
    width: 265px;
    font-size: 24px;
    line-height: 135%;
    color: #F16622;
}

.cover__pic {
    display: block;
    width: 100%;
    height: auto;
}

.cover__img {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

/* Cover styles end */


/* Culture-perks styles start */
.culture-perks {
    margin-bottom: 60px;
}

.culture-perks__caption {
    margin-bottom: 110px;
}

.culture-perks__desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 60px;
}

.culture-perks__desc p:first-child {
    grid-column: span 2;
    font-size: 24px;
    line-height: 130%;
}

.benefits-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.benefits-slider__slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border: 1px solid #F16622;
    border-radius: 100%;
}

.benefits-slider-second-line {
    transform: translateY(-40px);
}

.benefits-slider__slide p {
    max-width: 190px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* Culture-perks styles end */


/* Openings styles start */

.black-title {
    max-width: 540px;
}

.studio {
    display: flex;
    border-bottom: 1px solid #909192;
    margin-top: 90px;
}

.studio h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #191A1E;
}

.studio__location {
    width: 410px;
    height: 20px;
    margin-bottom: 30px;
    padding-left: 36px;
    background: url('../img/svg/careers-opening-location.svg') left/contain no-repeat;
}

.studio__team {
    width: 395px;
}

.team-list {
    margin-left: 410px;
}

.team-item {
    border-bottom: 1px solid #909192;
}

.team-item__caption {
    display: grid;
    grid-template-columns: 395px auto;
    cursor: pointer;
    padding: 30px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #191A1E;
}

.team-item__caption.active {
    padding-bottom: 40px;
    font-weight: 500;
    color: #F16622;
}

.team-item.nothover .team-item__caption {
    color: #7a7b81;
}

.team-item__openings-count {
    height: 24px;
    font-size: 16px;
    background: url('../img/svg/careers-openings-plus.svg') right no-repeat;
}

.role-item__text {
    margin-left: 395px;
    margin-right: 54px;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 0;
    color: #191A1E;
    visibility: hidden;
}

.role-item__title {
    margin-bottom: 0;
}

.role-item__desc {
    font-weight: 400;
    margin-bottom: 0;
}

.team-item__caption.active .team-item__openings-count {
    background-image: url('../img/svg/careers-openings-minus.svg');
}

div.team-item__caption.active + div.role-list .role-item__text {
    visibility: visible;
    line-height: 140%;
    margin-bottom: 40px;
}

div.team-item__caption.active + div.role-list .role-item__title,
div.team-item__caption.active + div.role-list .role-item__desc {
    margin-bottom: 15px;
}

.role-item__more {
    position: relative;
    text-decoration:none;
    display: none;
    padding-bottom: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #191A1E;
}

.role-item__more,
.role-item__more:after {
    transition: all .5s;
}

.role-item__more:after,
.role-item__more:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #F16622;
    height: 1px;
}

.role-item__more:before {
    width: 100%;
}

.role-item__more:hover:after {
    width: 100%;
}

.role-item__more:hover:before {
    width: 0%;
}

div.team-item__caption.active + div.role-list .role-item__text .role-item__more {
    display: inline-block;
}

/* Openings styles end */


/* Graduates styles start */

.graduates-caption {
    display: grid;
    grid-template-columns: 845px auto;
    column-gap: 90px;
}

.graduates-caption__pic {
    display: block;
    width: 100%;
    height: auto;
}

.graduates-caption__img {
    height: 330px;
    object-fit: cover;
}

.graduates-caption__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graduates-caption__desc p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
/* Graduates styles end */


/* Media starts */
@media screen and (max-width: 640px) {
    .cover__wrap {
        height: 204px;
        margin-top: 112px;
        margin-bottom: 30px;
    }

    .cover__title_second-line {
        top: 44px;
        left: 0;
        right: auto;
    }

    .cover__title_third-line {
        top: 87px;

    }

    .cover__title {
        font-size: 49px;
    }

    .cover__desc {
        bottom: 0;
        left: 0;
        right: auto;
        width: 187px;
        font-size: 16px;
    }

    .cover__pic {
        position: relative;
        padding-top: 66.67%;
    }

    .cover__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .team-list {
        margin-left: 0;
    }

    .team-item__caption {
        grid-template-columns: 50% 50%;
    }

    .graduates-caption__pic {
        grid-column: span 2;
        padding-top: 66.67%;
        width: 100%;
    }

    .graduates-caption__desc {
        grid-column: span 2;
    }
}
@media screen and (min-width: 640px) and (max-width: 930px) {
    .cover__wrap {
        height: 210px;
        margin-top: 112px;
        margin-bottom: 30px;
    }

    .cover__title_second-line {
        top: 66px;
        left: 112px;
        right: auto;
    }

    .cover__title_third-line {
        top: 132px;
    }

    .cover__title {
        font-size: 78px;
    }


    .cover__desc {
        bottom: 14px;
        left: 413px;
        right: auto;
        width: 187px;
        font-size: 16px;
    }

    .cover__pic {
        position: relative;
        padding-top: 66.67%;
    }

    .cover__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
    .studio__location {
        width: 280px;
    }

    .team-list {
        margin-left: 280px;
    }

    .team-item__caption {
        grid-template-columns: 150px auto;
    }

    .graduates-caption__pic {
        grid-column: span 2;
        padding-top: 33.45%;
        width: calc(100% - 115px);
    }
}

@media screen and (max-width: 1000px) {
    .culture-perks {
        margin-bottom: 50px;
    }

    .culture-perks__desc {
        font-size: 14px;
    }

    .culture-perks__desc p:first-child {
        font-size: 18px;
        grid-column: 1;
        margin-bottom: 15px;
    }

    .culture-perks__desc {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }

    .benefits-slider__slide{
        height: 220px;
        width: 220px;
        cursor: grab;
    }

    .benefits-slider__slide:active {
        cursor: grabbing;
    }

    .culture-perks__caption {
        margin-bottom: 50px;
    }

    .studio {
        margin-top: 50px;
    }

    .studio__location {
        height: 17px;
        margin-bottom: 15px;
    }

    .studio__team, .studio__role {
        display: none;
    }

    .studio h3 {
        font-size: 14px;
    }

    .team-item__caption {
        font-size: 16px;
    }

    .team-item__openings-count {
        font-size: 14px;
    }

    .role-item__text {
        margin-left: 0;
    }

    .graduates-caption {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 30px;
    }

    .graduates-caption__pic {
        position: relative;
    }

    .graduates-caption__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .graduates-caption__desc {
        row-gap: 30px;
    }

    .graduates-caption__desc p {
        font-size: 14px;
    }
}

@media screen and (min-width: 930px) and (max-width: 1279px) {
    .cover__wrap {
        height: 331px;
        margin-top: 219px;
    }

    .cover__title_second-line {
        top: 104px;
    }

    .cover__title_third-line {
        top: 208px;
    }

    .cover__title {
        font-size: 123px;
    }

    .cover__desc {
        bottom: 26px;
        font-size: 18px;
    }

    .cover__img {
        height: 480px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .black-title {
        max-width: fit-content
    }

    .culture-perks {
        margin-bottom: 100px;
    }

    .culture-perks__desc {
        column-gap: 30px;
    }

    .benefits-slider__slide{
        cursor: grab;
    }

    .benefits-slider__slide:active {
        cursor: grabbing;
    }

    .studio__team {
        width: 200px;
    }

    .team-item__caption {
        grid-template-columns: 200px auto;
    }

    .team-item__name {
        margin-right: 50px;
    }

    .role-item__text {
        margin-left: 200px;
    }

    .graduates-caption {
        grid-template-columns: 650px auto;
    }

    .graduates-caption__img {
        height: 257px;
    }

}

@media  screen and (max-width: 1279px) {
    .benefits-slider {
        display: block;
    }

    .benefits-slider-second-line {
        transform: none;
    }

    .slick-list {
        overflow:  visible;
    }

    .slick-initialized .slick-slide {
        display: flex;
    }
}

/* Media ends */


/* Animation cover start */

.cover__title_first-line,
.cover__title_third-line {
    opacity: 1;
    animation-name: moveRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__title_second-line {
    opacity: 1;
    animation-name: moveLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__desc {
    opacity: 1;
    animation-name: makeVisible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Animation headline end */