/* Cover styles start */

.cover__wrap {
    height: 298px;
    position: relative;
    margin-top: 219px;
}

.cover__title {
    font-family: Trap;
    font-style: normal;
    font-weight: 800;
    font-size: 165px;
    line-height: 100%;
    text-transform: uppercase;
}

.cover__title_first-line {
    position: absolute;
    top: 0;
    left: 0;
    color: #F16622;
}

.cover__desc {
    position: absolute;
    top: 0;
    right: 0;
    width: 265px;
    font-size: 24px;
    line-height: 135%;
    color: #FFFFFF;
}

.cover__title_second-line {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cover__pic {
    position: relative;
    padding-top: 50%;
}

.cover__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
}
/* Cover styles end */


/* Studios styles start */
.studios__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 570px auto;
    column-gap: 60px;
    grid-template-rows: 514px;
    margin-bottom: 90px;
}

.studios-card {
    position: relative;
    width: 100%;
    grid-column: span 1;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.studios-card__title {
    font-weight: 500;
    font-size: 29px;
    line-height: 130%;
    margin-bottom: 60px;
}

.studios-card__desc {
    color: #909192;
    margin-bottom: 30px;
}

.studios-card__contacts {
    margin-bottom: 15px;
}

.studios-card__email {
    position: relative;
    text-decoration:none;
    display: inline-block;
    color: #FFFFFF;
    padding-bottom: 3px;
    margin-bottom: 60px;
}

.studios-card__email,
.studios-card__email:after {
    transition: all .5s;
}

.studios-card__email:after,
.studios-card__email:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #F16622;
    height: 1px;
}

.studios-card__email:before {
    width: 100%;
}

.studios-card__email:hover:after {
    width: 100%;
}

.studios-card__email:hover:before {
    width: 0%;
}

.slick-dotted.slick-slider {
    margin-bottom: 20px;
}

.slick-list {
    width: 100vw;
}

.slick-track {
    margin-left: 0;
}

.slick-prev {
    top: 446px;
    left: 70px;
    visibility: visible;
    transform: none;

}

.slick-next {
    top: 446px;
    left: 92px;
    visibility: visible;
    transform: none;
}

.slick-slide {
    margin-right: 60px;
}

.slick-slide img {
    height: 415px;
    width: 570px;
}

.slick-dots {
    position: relative;
    bottom: 0;
    margin-top: 30px;
    visibility: hidden;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li.slick-active button:before {
    color: #F16622;
}

.slick-dots li button:before {
    color: #525358;
    opacity: 1;
}

#edmont__active-slide,
#austin__active-slide {
    min-width: 28px;
    font-size: 18px;
    line-height: 120%;
    color: #F16622;
}

.slider-number {
    visibility: visible;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    height: 22px;
    top: 445px;
    left: 630px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #898B91;
    align-items: flex-start;
}

.studios-more {
    position: absolute;
    top: 464px;
    left: 0;
    outline: none;
}
/* Studios styles end */


/* Support styles start */
.support-title__link-wrap {
    display: inline-block;
}

.support-title__link {
    position: relative;
    color: #FFFFFF;
}

.support-title__link,
.support-title__link:after {
    text-decoration: none;
    transition: all .5s;
}

.support-title__link:after,
.support-title__link:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: #F16622;
    height: 1px;
}

.support-title__link:before {
    width: 100%;
}

.support-title__link:hover:after {
    width: 100%;
}

.support-title__link:hover:before {
    width: 0%;
}

.support__caption {
    row-gap: 63px;
}

.support-desc {
    grid-column: span 1;
    font-weight: 500;
    font-size: 29px;
    line-height: 130%;
    color: #FFFFFF;
}

.game-cards {
    grid-column: span 1;
    display: grid;
    grid-template-rows: repeat(4, 82px);
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

.game-card {
    position: relative;
    grid-row: span 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #525358;
    cursor: pointer;
}

.game-card:first-child {
    border-top: 1px solid #525358;
}

.game-card__arrow {
    opacity: 0;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    transition: all .5s;
    z-index: 1;
}

.game-card:hover .game-card__title {
    margin-left: 30px;
}

.game-card__pic {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    z-index: 0;

}

.game-card__title {
    z-index: 1;
    transition: all .5s;
}

.game-card:hover .game-card__pic {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.game-card:hover .game-card__arrow {
    opacity: 1;
}

.game-card:hover .game-card__title {
    font-weight: 600;
    font-size: 20px;
}

.game-cards:hover .game-card:not(:hover) .game-card__title {
    color: #898B91;
}
/* Support styles end */


/* Media start */


@media screen and (max-width: 335px) {
    .cover__wrap {
        height: 183px;
    }

    .cover__title {
        font-size: 49px;
    }

    .cover__desc {
        width: 187px;
        font-size: 16px;
        left: 0;
        top: auto;
        bottom: 0;
    }

    .cover__title_second-line {
        top: 43px;
        line-height: 87%;
    }
}

@media screen and (min-width: 335px) and (max-width: 640px) {
    .cover__wrap {
        height: 139px;
    }

    .cover__title {
        font-size: 49px;
    }

    .cover__desc {
        width: 187px;
        font-size: 16px;
        left: 0;
        top: auto;
        bottom: 0;
    }

    .cover__title_second-line {
        top: 43px;
    }
}


@media screen and (max-width: 640px) {
    .cover__wrap {
        margin-top: 112px;
        margin-bottom: 30px;
    }

    .slick-slide img {
        height: 200px;
        width: 300px;
    }

    .slick-slide {
        margin-right: 20px;
    }

    .slick-dots {
        margin-top: 10px;
    }

}

@media screen and (min-width: 640px) and (max-width: 909px) {
    .cover__wrap {
        height: 144px;
        margin-top: 112px;
        margin-bottom: 30px;
    }

    .cover__title {
        font-size: 78px;
    }

    .cover__title_first-line {
        letter-spacing: -0.01em;
    }

    .cover__desc {
        width: 187px;
        left: 413px;
        font-size: 16px;
    }

    .slick-slide {
        margin-right: 40px;
    }

    .slick-slide img {
        height: 355px;
        width: 500px;
    }

    .slick-dots {
        margin-top: 35px;
    }

    .slider-number {
        top: 0;
        left: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 999px) {
    .cover__pic {
        padding-top: 66.667%;
    }

    .studios__wrapper {
        display: block;
        margin-bottom: 50px;
    }

    .studios-card {
        font-size: 14px;
    }

    .studios-card__title {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .studios-card__email {
        margin-bottom: 50px;
    }

    .slider-number{
        visibility: hidden;
    }

    .slick-prev, .slick-next {
        visibility: hidden;
    }

    .slick-dots {
        visibility: visible;
    }

    .studios-more {
        position: unset;
    }

    .game-cards {
        grid-template-rows: repeat(4, 64px);
        font-size: 16px;
    }
    .game-card__arrow {
        height: 24px;
        width: 24px;
        opacity: 1;
    }
}

@media screen and (min-width: 910px) and (max-width: 1279px) {
    .cover__wrap {
        height: 225px;
    }

    .cover__title {
        font-size: 123px;
    }

    .cover__desc {
        width: 221px;
        font-size: 18px;
    }

    .studios__wrapper {
        grid-template-columns: 450px auto;
    }

    .slider-number {
        left: 510px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .cover__img {
        max-height: 480px;
    }

    .studios__wrapper{
        grid-template-rows: 558px;
    }

    .studios-more {
        top: 508px;
    }
}
/* Media end */


/* Animation headline start */

.cover__title_first-line,
.cover__title_second-line {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__title_first-line {
    animation-name: moveRight;
}

.cover__title_second-line {
    animation-name: moveLeft;
}


.cover__desc {
    animation-name: makeVisible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Animation headline end */