/* Cover style start */

.cover__wrap {
    height: 430px;
    margin-top: 239px;
    position: relative;
}

.cover__title {
    font-family: Trap;
    font-style: normal;
    font-weight: 800;
    font-size: 165px;
    line-height: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.cover__title_first-line {
    position: absolute;
    top: 0;
    left: 0;
}

.cover__title_second-line {
    position: absolute;
    top: 131px;
    left: 0;
}

.cover__title_third-line {
    position: absolute;
    top: 265px;
    left: 170px;
}

.cover__desc {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 265px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 135%;
    color: #F16622;
}

.cover__pic {
    position: absolute;
    top: 136px;
    left: 270px;
    display: block;
    border-radius: 20px;
}

.cover__img {
    height: 119px;
    object-fit: cover;
}

/* Cover style start */


/* Project styles start */

.projects-cards {
    position: relative;
    width: 100%;
    color: #FFFFFF;
}

.projects-card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 60px;
}

.projects-card__pic {
    height: 0;
    padding: 30px 0;
    width: 100%;
    overflow: visible;
}

.projects-card__img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    height: 0px;
    opacity: 0;
    transition: .2s;
}

.projects-card__text {
    position: relative;
    height: min-content;
    padding: 30px 0;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.projects-card__text::before {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 1px;
    right: 0;
    background-color: #525358;
}

.last-card::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    right: 0;
    background-color: #525358;
}

.projects-card__caption {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.projects-card__title {
    max-width: 510px;
    text-align: left;
    padding: 0;
    color: #FFFFFF;
    font-family: Trap;
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 100%;
    border: none;
    background: none;
    transition: .15s all;
    z-index: 2;
}

button.projects-card__button {
    border: none;
    width: 40px;
    height: 40px;
    background: url('../img/svg/game-card-plus-active.svg') no-repeat center/cover;
}

button.projects-card__button:focus {
    outline: 0;
}

.projects-card__desc {
    position: absolute;
    height: min-content;
    max-width: 518px;
    margin-top: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    visibility: hidden;
    z-index: 1;
    transition: all .3s;
    opacity: 0;
    margin-bottom: 60px;
}

.projects-card__desc p {
    margin-top: 15px;
}

.projects-more {
    background-image: url('../img/svg/small-green-circle.svg');
    display: none;
}

.projects-card.active .projects-card__text,
.projects-card.active .projects-card__pic {
    padding: 60px 0;
}

.projects-card.active .projects-card__img {
    opacity: 1;
    height: 426px;
    visibility: visible;
}

.projects-card.active .projects-card__title {
    font-size: 65px;
    color: #F16622;
}

.projects-card.nothover .projects-card__title {
    color: #898B90;

}

.projects-card.active button.projects-card__button {
    background-image: url('../img/svg/game-card-minus.svg');
}

.projects-card.projects-card.nothover button.projects-card__button {
    background-image: url('../img/svg/game-card-plus-nonactive.svg');
}

.projects-card.active .projects-card__desc {
    position: relative;
    visibility: visible;
    opacity: 1;
}

.projects-card.active .projects-more {
    display: block;
}

/* Projects style end */


/* Archive style start */
.archive-projects {
    flex-wrap: wrap;
    font-family: Trap;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 130%;
}

.archive-projects__project {
    text-decoration: none;
    color: #898B91;

}

.archive-projects__slash {
    color: #F16622;
}

.archive-projects__project:hover,
.archive-projects__project:active {
    color: #F16622;
    padding-right: 34px;
    background: url('../img/svg/games-project-orange-arrow.svg') top right no-repeat;
}

/* Archive style end */

/* Media start */
@media screen and (max-width:1000px)  {
    .cover__wrap {
        margin-top: 112px;
    }
    .projects-card__text {
        padding: 25px 0;
    }

    .projects-card.active .projects-card__text {
        padding: 50px 0;
    }

    .projects-card__title {
        font-size: 20px;
        margin-right: 20px;
        width: fit-content;
    }

    .projects-card.active .projects-card__title {
        font-size: 30px;
    }

    .projects-card__desc {
        font-size: 14px;
        margin-right: 30px;
    }

    .projects-card.active .projects-card__img {
        height: auto;
        min-height: 225px;
    }

    button.projects-card__button {
        width: 24px;
        height: 24px;
    }

    .section__title {
        max-width: 280px;
    }

    .archive-projects {
        font-size: 18px;
        line-height: 130%;
        letter-spacing: -0.01em;
    }

    .archive-projects__project {
        line-height: 200%;
        padding-right: 22px;
        padding-top: 2px;
        background: url('../img/svg/games-project-grey-arrow.svg') top right no-repeat;
    }

    .archive-project:hover,
    .archive-project:active {
        padding-right: 22px;
        background: url('../img/svg/games-project-orange-sm-arrow.svg') top right no-repeat;
    }

    .archive-projects__slash {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px)  {
    .archive-caption {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

@media screen and (max-width: 640px)  {
    .cover__wrap {
        height: 204px;
    }

    .cover__title {
        font-size: 49px;
    }

    .cover__title_second-line {
        top: 43px;
    }

    .cover__title_third-line {
        top: 87px;
        left: 0;
    }

    .cover__desc {
        max-width: 250px;
        font-size: 16px;
        top: 141px;
        right: auto;
        left: 0;
    }

    .cover__pic {
        display: none;
    }

    .projects-card {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .projects-card__text {
        position: unset;
    }

    .projects-card.active .projects-card__desc {
        margin-bottom: 30px;
    }

    .projects-card.active .projects-card__text {
        padding-bottom: 0;
    }

    .projects-card__pic {
        max-height: fit-content;
        order: 1;
        padding: 0;
        height: 0;
    }

    .projects-card.active .projects-card__pic {
        height: fit-content;
        padding: 0;
    }

    .projects-card.active .projects-more {
        position: absolute;
        bottom: 50px;
    }

    .projects-card.active .projects-card__img {
        margin-bottom: 125px;
    }

    .go-to-games {
        font-size: 28px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px)  {
    .cover__wrap {
        height: 283px;
    }

    .cover__title {
        font-size: 78px;
    }

    .cover__title_second-line {
        top: 66px;
    }

    .cover__title_third-line {
        top: 132px;
        left: 130px;
    }

    .cover__desc {
        max-width: 276px;
        font-size: 16px;
        top: 220px;
        right: auto;
        left: 0;
    }

    .cover__pic {
        top: 69px;
        left: 155px;
    }

    .cover__img {
        height: 57px;
    }

    .projects-card {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }

    .projects-card.active .projects-card__pic {
        padding: 50px 0;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1279px)  {
    .cover__wrap {
        height: 333px;
    }

    .cover__title {
        font-size: 123px;
    }

    .cover__title_second-line {
        top: 105px;
    }

    .cover__title_third-line {
        top: 210px;
        left: 120px;
    }

    .cover__desc {
        max-width: 219px;
        font-size: 18px;
    }

    .cover__pic {
        top: 106px;
        left: 210px;
    }

    .cover__img {
        height: 96px;
    }

    .projects-card {
        grid-template-columns: repeat(2, 450px);
    }

    .project__card::before {
        width: 450px;
    }

    .project__card:last-child::after {
        width: 450px;
    }

    .projects-card__title {
        max-width: 395px;
        font-size: 33px;
    }

    .projects-card__desc {
        max-width: 370px;
    }

    .projects-card.active .projects-card__title {
        font-size: 51px;
    }

    .projects-card.active .projects-card__img {
        height: 336px;
    }

    button.projects-card__button {
        width: 33px;
        height: 33px;
    }

    .archive{
        min-height: 396px;
        margin-bottom: 166px;
    }

}

/* Media end */


/* Animation cover start */

.cover__title_first-line,
.cover__title_third-line {
    opacity: 1;
    animation-name: moveRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__title_second-line,
.cover__pic {
    opacity: 1;
    animation-name: moveLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__desc {
    opacity: 1;
    animation-name: makeVisible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Animation cover end */