/* Cover styles start */
.cover__wrap {
    position: relative;
    width: 100%;
    height: 660px;
    margin-top: 209px;
    display: grid;
    align-items: flex-end;
}

.cover__title {
    font-family: Trap;
    font-style: normal;
    font-weight: 800;
    font-size: 165px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cover__subtitle {
    font-family: Trap;
    font-style: normal;
    font-weight: 800;
    font-size: 74px;
    line-height: 100%;
}

.cover__img {
    height: 660px;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    margin: 0;
}

.cover__title_first-word,
.cover__title_second-word {
    position: absolute;
    z-index: 1;
}

.cover__title_first-word {
    top: 0;
    left: 0;
}

.cover__title_second-word {
    top: 0;
    left: 554px;
}

.cover__subtitle__first-word,
.cover__subtitle_second-word {
    top: 135px;
    position: absolute;
    z-index: 1;
}

.cover__subtitle_second-word {
    left: 470px;
}

.cover__desc {
    width: 265px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #F16622;
    position: absolute;
    top: 134px;
    left: auto;
    right: 0;
    z-index: 1;
}

.cover__buy-button {
    position: relative;
    margin: 0 0 0 auto;
    width: 170px;
    height: 170px;
    padding-top: 73px;
    border-radius: 100%;
    background-color: #F16622;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #F6F6F6;
}

.cover__buy-button a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.cover__buy-button:hover {
    transform: translateY(3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cover__buy-button:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cover__buy-button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.cover__buy-button::after {
    background-color: #F16622;
}

.cover__buy-button:hover::after {
    transform: scaleX(1.4) scaleY(1.3);
    opacity: 0;
}

/* Cover styles end */

/* About styles start */
.custom-caption {
    margin-bottom: 90px;
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}

.about-card__title {
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 120%;
    color: #525358;
}

.about-card__desc {
    grid-column: span 1;
}

.about-card__caption {
    grid-column: span 1;
}

.slick-dotted.slick-slider {
    margin-bottom: 60px;
}

.slick-initialized .slick-slide {
    display: grid;
}

.slick-track {
    height: 100%;
    cursor: url('../img/svg/game-detail-slider-cursor-nonactive.svg'), pointer;
}
.slick-track:active {
    cursor: url('../img/svg/game-detail-slider-cursor-active.svg'), grabbing;
}

.slick-list {
    overflow: visible;
}

.slick-slide {
    margin-right: 60px;
    height: 400px;
    align-items: flex-end;
}

.slick-slide img {
    width: 570px;
}

.slick-track {
    margin-left: 0;
}

.slick-dots {
    visibility: hidden;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li.slick-active button:before {
    color: #F16622;
}

.slick-dots li button:before {
    color: #525358;
    opacity: 1;
}

.about__more {
    margin-left: 630px;
}

.slick-track {
    height: 100%;
    cursor: url('../img/svg/game-detail-slider-cursor-nonactive.svg'), pointer;
}

.slick-track:active {
    cursor: url('../img/svg/game-detail-slider-cursor-active.svg'), grabbing;
}
/* About styles end */


/* Game's features style start */
.game-features {
    margin-bottom: 100px;
}

.game-features-caption {
    margin-bottom: 90px;
}

.games-features-title {
    max-width: 550px;
}

.games-features-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 292px auto;
    column-gap: 60px;
    row-gap: 60px;
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.games-features-card {
    grid-column: span 1;
    position: relative;
}

.blue-card {
    background: url('../img/svg/game-detail-card2.svg') left no-repeat;
}

.green-card {
    background: url('../img/svg/game-detail-card1.svg') left no-repeat;
}

.orange-card {
    background: url('../img/svg/game-detail-card3.svg') left no-repeat;
}

.games-features-card__title {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 234px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}

.games-features-card__desc {
    position: absolute;
    left: 20px;
    top: 184px;
    max-width: 310px;
    font-weight: normal;
    line-height: 140%;
}

.games-features-more {
    grid-column: span 3;
    justify-self: center;
}
/* Game's features style end */


/* Comparison style start */
.comparison-caption {
    grid-template-columns: max-content auto;
}

.comparison__control {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 15px;
    background: #191A1E;
}

.comparison__button {
    margin-right: 46px;
    padding: 5px 14px;
    border: none;
    background: none;
    font-family: Trap;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
}

.comparison__button:last-child {
    margin-right: 0;
}

.comparison__button.active {
    background-color: #214098;
}
/* Comparison slide styles */
#comparison__frame {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.figure {
    background-image: url('../img/game-comparison-2-after.jpg');
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.figure video  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 0;
    object-fit: fill;
    height: 100%;
}

#divisor {
    background-image: url('../img/game-comparison-2-before.jpg');
    background-size: cover;
    position: absolute;
    width: 50%;
    overflow: hidden;
    bottom: 0;
    height: 100%;
}

#divisor::after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background: white;
}

div#comparison figure > img  {
    position: relative;
    width: 100%;
}

#divisor video {
    min-width: 1200px;
    object-fit: fill;
}

input[type=range] {
    -webkit-appearance:none;
    -moz-appearance:none;
    position: absolute;
    top: 0px;
    left: 0;
    background: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:active {
    outline: none;
}

input[type=range]:active  {
    border: none;
    outline: none;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]:focus::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 0;
}

input[type=range]::-moz-range-thumb,
input[type=range]:focus::-moz-range-thumb {
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 0;
}

#comparison__splitter {
    position: absolute;
    top: 275px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background: url('../img/svg/game-detail-comparison-input.svg') no-repeat center/cover;
    z-index: 1;
}
/* Comparison style end */


/* Game-universe style start */
.game-universe__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    color: #FFFFFF;
}

.game-universe__feature {
    padding: 10px 59px 10px 20px;
    background-color: #525358;
    border-radius: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    position: relative;
    width: max-content;
    max-height: 44px;
}

.game-universe__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/svg/game-detail-universe-arrow.svg') no-repeat right 20px center;
}

.game-universe__feature:hover, .game-universe__feature:focus {
    background: #F16622;
}

/* Game-universe style end */


/* News style start */
.news-title {
    margin-bottom: 90px;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    grid-template-rows: repeat(2, 1fr);
    border-top: 1px solid #525358;
    border-bottom: 1px solid #525358;
    margin-bottom: 60px;
    padding: 20px 0;
}

.news-card {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    position: relative;
}

.news-card_main-card {
    grid-row: span 2;
    padding-left: 0;
    justify-content: space-between;
}

.news-card_main-card::before {
    position: absolute;
    content: '';
    top: 0;
    right: -30px;
    height: 100%;
    width: 1px;
    background: #525358;
}

.news-card-third-card {
    padding-top: 30px;
}

.news-card_second-card::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #525358;
}

.news-card-last-card {
    display: none;
}

.news-card__pic {
    width: 265px;
    margin-right: 40px;
    position: relative;
}

.news-card_main-card .news-card__pic {
    width: 340px;
    margin-right: 0;
    position: relative;
}

.news-card__img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.news-card_main-card .news-card__img {
    height: 421px;
}

.news-card__desc {
    max-width: 265px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.news-card_main-card .news-card__desc {
    max-width: 200px;
}

.news-card__date {
    line-height: 140%;
    color: #898B91;
    margin-bottom: 30px;
}

.news-card__title {
    font-family: Trap;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 15px;
}

.news-card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news__more {
    text-align: center;
}
/* News style end */


/* Join-us style start */
.join-us__wrap {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 60px;
}

.join-us-platforms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.join-us-platforms img {
    margin-right: 30px;
}

.join-us-platform {
    width: 265px;
    height: 122px;
    padding: 36px 0;
    border-radius: 15px;
    text-align: center;
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 130%;
    color: #FFFFFF;
}

.origin-platform {
    background-color: #F16622;
}

.steam-platform {
    background-color: #525358;
}

.ps-platform {
    background-color: #214098
}

.xbox-platform {
    background-color: #019F49
}

.join-us-platform__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.join-us-platform:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0,0,0,.05);
    z-index: 1;
}

/* Join-us style end */

/* Media start */
@media screen and (max-width: 1000px) {
    .cover__wrap {
        margin-top: 112px;
    }

    .custom-caption {
        margin-bottom: 50px;
    }

    .about-cards {
        font-size: 14px;
    }

    .about-card__desc {
        grid-column: span 2;
    }

    .about-card__title {
        font-size: 16px;
        margin-top: 30px;
    }

    .game-features {
        margin-bottom: 50px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 50px;
    }

    .slick-slide {
        margin-right: 40px;
        height: 200px;

    }

    .slick-slide img {
        width: 280px;
        max-height: 200px;
    }

    .slick-dots {
        height: 25px;
        position: unset;
        margin-top: 30px;
        visibility: visible;
    }

    #comparison__frame {
        width: auto;
        height: fit-content;
    }

    .figure{
        padding-top: 66.667%;
    }

    #divisor video{
        min-width: 100vw;
    }

    .game-universe__features {
        justify-content: start;
        column-gap: 15px;
    }

    .game-universe__feature {
        font-size: 18px;
    }

    .news-card__pic,
    .news-card_main-card .news-card__pic {
        width: 100%;
        height: 0;
        padding-top: 71.4%;
        margin: 0;
    }

    .news-card_main-card .news-card__img,
    .news-card__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .news-card__desc,
    .news-card_main-card .news-card__desc {
        font-size: 14px;
        width: 100%;
        max-width: 100%;
    }

    .news-card_main-card {
        grid-row: span 1;
    }

    .news-card__date {
        margin-bottom: 15px;
    }

    .news-card__title {
        font-size: 18px;
    }

    .join-us__caption{
        row-gap: 50px;
    }
}

@media screen and (max-width: 640px)  {
    .cover__wrap {
        height: auto;
    }

    .cover__title {
        font-size: 49px;
    }

    .cover__title_first-word {
        top: 0;
        left: 0;
    }

    .cover__title_second-word {
        top: 43px;
        left: 0;
    }

    .cover__subtitle {
        font-size: 31px;
    }

    .cover__subtitle__first-word {
        top: 95px;
        left: 0;
    }

    .cover__subtitle_second-word {
        top: 125px;
        left: 0;
    }

    .cover__desc {
        width: 187px;
        font-size: 16px;
        top: 161px;
        left: 0;
    }

    .cover__img {
        height: 300px;
        height: calc(100vw - 20px);
        max-height: 560px;
        margin-top: 233px;
        margin-bottom: 30px;
        position:unset;
    }

    .cover__buy-button {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        padding-top: 51px;
        font-size: 18px;
    }

    .slick-slide {
        margin-right: 20px;
        height: 200px;
    }
    .slick-slide img {
        width: 300px;
    }

    .slick-dots {
        margin-top: 10px;
    }

    .about__more {
        margin-left: 0;
    }

    .game-features-caption {
        margin-bottom: 50px;
    }

    .games-features-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 250px) auto;
        row-gap: 30px;
        font-size: 14px;
        width: 300px;
    }

    .games-features-card {
        grid-column: span 1;
    }

    .blue-card {
        background: url('../img/svg/game-detail-card2_320.svg') left no-repeat;
    }

    .green-card {
        background: url('../img/svg/game-detail-card1_320.svg') left no-repeat;
    }

    .orange-card {
        background: url('../img/svg/game-detail-card3_320.svg') left no-repeat;
    }

    .games-features-card__title {
        max-width: 204px;
    }

    .games-features-card__desc {
        top: 150px;
        max-width: 260px;
    }

    .games-features-more {
        grid-column: span 1;
        justify-self: center;
        margin-top: 20px;
    }

    .comparison-caption {
        grid-template-columns: 1fr;
    }

    .comparison__control {
        background: none;
        padding: 10px 26px;
        margin-bottom: 30px;
    }

    .comparison__button {
        color: #191A1E;
        margin-right: 16px;
        font-size: 14px;
    }

    #comparison__splitter {
        top: calc(50% - 12.5px);
        left: calc(50% - 12.5px);
        width: 25px;
        height: 25px;
    }

    .news-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 80px;
        padding: 40px 0;
        margin-bottom: 50px;
    }

    .news-card {
        padding: 0;
        row-gap: 30px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .news-card__pic,
    .news-card_main-card .news-card__pic {
        padding-top: 66.667%;
    }

    .news-card-last-card {
        display: none;
    }

    .news-card_main-card::before,
    .news-card_second-card::after {
        bottom: -40px;
        top: auto;
        left: 0;
        width: 100%;
        height: 1px;
    }

    .join-us-platforms {
        row-gap: 30px;
    }

    .join-us-platform {
        width: 300px;
    }
}

@media screen and (min-width: 400px) and (max-width: 640px)  {
    .cover__title_second-word {
        top: 0;
        left: 162px;
    }

    .cover__subtitle__first-word {
        top: 54px;
        left: 0;
    }

    .cover__subtitle_second-word {
        top: 54px;
        left: 200px;
    }

    .cover__img {
        margin-top: 172px;
    }

    .cover__desc {
        top: 90px;
        left: 0;
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px)  {
    .cover__wrap {
        height: 758px;
    }

    .cover__title {
        font-size: 78px;
    }

    .cover__title_second-word {
        top: 0;
        left: 256px;
    }

    .cover__subtitle {
        font-size: 39px;
    }

    .cover__subtitle__first-word,
    .cover__subtitle_second-word {
        top: 83px;
    }

    .cover__subtitle_second-word {
        left: 245px;
    }

    .cover__desc {
        width: 171px;
        top: 80px;
        left: 429px;
        right: auto;
        font-size: 16px;
    }

    .cover__img {
        top: 78px;
        height: calc(100vw - 120px);
        max-height: 660px;
        margin: 0;
    }

    .cover__buy-button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 130px;
        height: 130px;
        padding-top: 56px;
        font-size: 18px;
    }

    .about__more {
        margin-left: calc(50% + 20px);
    }

    .game-features-caption {
        margin-bottom: 50px;
    }

    .games-features-cards {
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(2, 250px);
        column-gap: 40px;
        row-gap: 40px;
        font-size: 14px;
        justify-content: space-evenly;
        width: 100%;
    }

    .blue-card {
        background: url('../img/svg/game-detail-card2_640.svg') left no-repeat;
    }

    .green-card {
        background: url('../img/svg/game-detail-card1_640.svg') left no-repeat;
    }

    .orange-card {
        background: url('../img/svg/game-detail-card3_640.svg') left no-repeat;
    }

    .games-features-card__title {
        max-width: 170px;
    }

    .games-features-card__desc {
        top: 130px;
        max-width: 240px;
    }

    .games-features-more {
        grid-column: span 1;
        margin: 0 auto 0 0;
        width: fit-content;
        align-self: flex-end;
    }

    .comparison-caption {
       grid-template-columns: repeat(2, 1fr);
    }

    .comparison__control {
        margin-bottom: 50px;
    }

    .comparison__button {
        margin-right: 16px;
        font-size: 14px;
    }

    #comparison__splitter {
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
    }

    .news-cards {
        column-gap: 40px;
        row-gap: 40px;
        margin-bottom: 50px;
    }

    .news-card {
        row-gap: 30px;
    }

    .news-card-last-card {
        display: flex;
    }

    .news-card-third-card {
        padding-top: 10px;
    }

    .news-card_main-card::before,
    .news-card-third-card::before {
        position: absolute;
        content: '';
        top: 0;
        right: -20px;
        width: 1px;
        height: 100%;
        background: #525358;
    }

    .news-card_main-card::after,
    .news-card_second-card::after {
        position: absolute;
        content: '';
        bottom: -20px;
        left: 0;
        height: 1px;
        width: 100%;
        background: #525358;
    }

    .join-us-platforms {
        grid-column: span 2;
    }

    .join-us-platform {
        width: 280px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1279px)  {
    .cover__wrap {
        height: 514px;
    }

    .cover__title {
        font-size: 123px;
    }

    .cover__title_second-word {
        left: 400px;
    }

    .cover__subtitle {
        font-size: 56px;
    }

    .cover__subtitle__first-word,
    .cover__subtitle_second-word {
        top: 105px;
    }

    .cover__subtitle_second-word {
        left: 355px;
    }

    .cover__desc {
        top: 104px;
        width: 220px;
        font-size: 18px;
    }

    .cover__img {
        height: 514px;
    }

    .about__more {
        margin-left: 510px;
    }
    .black-title {
        width: 100%;
    }

    .games-features-cards {
        column-gap: 30px;
        grid-template-rows: 250px auto;
    }

    .blue-card {
        background: url('../img/svg/game-detail-card2_1000.svg') left no-repeat;
    }

    .green-card {
        background: url('../img/svg/game-detail-card1_1000.svg') left no-repeat;
    }

    .orange-card {
        background: url('../img/svg/game-detail-card3_1000.svg') left no-repeat;
    }

    .games-features-card__title {
        max-width: 205px;
    }

    .games-features-card__desc {
        top: 120px;
        max-width: 260px;
    }

    .games-features-more {
        margin: 0;
    }

    .comparison-caption {
        grid-template-columns: repeat(2, 450px);
    }

    #comparison__frame {
        height: 500px;
        width: 960px;
    }

    #comparison__splitter {
        top: 225px;
    }

    #divisor video {
        min-width: 960px;
    }

    .game-universe__feature {
        margin-right: 70px;
    }

    .news  {
        margin-bottom: 100px;
    }

    .news-card__pic {
        width: 200px;
        margin-right: 30px;
    }

    .news-card__pic img {
        height: 136px;
        width: 100%;
    }

    .news-card_main-card .news-card__pic {
        width: 221px;
    }

    .news-card__img {
        height: 273px;
    }

    .news-card__desc {
        max-width: 200px;
    }
}
/* Media end */

/* Animation start */

.cover__title_first-word,
.cover__title_second-word,
.cover__subtitle__first-word,
.cover__subtitle_second-word {
    opacity: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__title_first-word,
.cover__title_second-word {
    animation-name: moveRight;
}

.cover__subtitle__first-word,
.cover__subtitle_second-word {
    animation-name: moveLeft;
}

.cover__desc,
.cover__buy-button {
    opacity: 1;
    animation-name: makeVisible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*  Animation end */