/* Cover style start */
.slick-prev {
    z-index: 1;
    top: 234px;
    left: calc((100vw - 1200px) / 2);
    width: 40px;
    height: 40px;
    transform: rotate(180deg) translateY(20px);

}

.slick-next {
    z-index: 1;
    top: 234px;
    left: calc((100vw - 1200px) / 2 + 50px);
    width: 40px;
    height: 40px;
}

.slick-slider {
    height: 100vh;
    width: 100vw;

}

.slick-track,
.slick-list,
.slick-slide {
    height: 100%;
}

.slick-initialized .slick-slide {
    overflow: hidden;
}

.cover__pic {
    height: calc(100% - 172px);
    width: 100vw;
    object-fit: cover;
}

.cover__title-wrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    transform: translateY(-124px);
    display: grid;
    grid-template-rows: 131px auto 0;
    grid-template-columns: min-content auto;
}

.cover__title {
    font-family: Trap;
    font-style: normal;
    font-weight: 800;
    font-size: 165px;
    line-height: 100%;
    text-transform: uppercase;
}

.cover__title-text-white {
    color: #FFFFFF;
    display: inline-block;
}

.cover__title-text-orange {
    color: #F16622;
    grid-column: span 2;
    margin-top: 7px;
}

.cover__desc {
    display: inline-block;
    vertical-align: top;
    width: 349px;
    margin-left: 136px;
    font-size: 24px;
    line-height: 135%;
    color: #FFFFFF;
}

.cover__btn {
    position: absolute;
    left: 945px;
    top: calc(-100vh * 290 / 1050);
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-color: #F16622;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    font-size: 24px;
    line-height: 170px;
    color: #F6F6F6;
    transition: all .2s;
}

.cover__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.cover__btn:hover {
    transform: translateY(3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cover__btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cover__btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.cover__btn::after {
    background-color: #F16622;
}

.cover__btn:hover::after {
    transform: scaleX(1.4) scaleY(1.3);
    opacity: 0;
}

.cover__progress-bar {
    width: 100%;
    position: absolute;
    top: 179px;
    left: 0;
}

.cover__progress-bar-container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 40px;
}

.cover__progress-bar-item {
    padding: 0;
    cursor: pointer;
    color: white;
}

.cover__progress-bar-item span.cover__progress-bar-line {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
}

.cover__progress-bar-item span.cover__progress-bar-line .inProgress {
    background-color: rgba(255, 255, 255, 1);
    width: 0%;
    height: 4px;
}
/* Cover style end */

/* About us style start */
.about-us__caption {
    margin-bottom: 60px;
    grid-template-columns: 579px auto
}

.about-us__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
}

.about-us__card {
    width: 255px;
    height: 162px;
    border-radius: 15px;
    padding: 20px;
    font-size: 16px;
    color: #FFFFFF;
}

.about-us__card-background-orange {
    background-color: #F16622;
}

.about-us__card-background-blue {
    background-color: #214098;
}

.about-us__card-background-blue-grey {
    background-color: #525358;
}

.about-us__card-background-green {
    background-color: #019F49;
}

.about__card-title {
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}
.about__card-desc {
    line-height: 140%;
}

.about-us__more {
    margin-left: 630px;
}
/* Section about style end */


/* Slogan style start */
.slogan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.slogan__text {
    font-family: Trap;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    color: #FFFFFF;
}

.slogan__text-color-orange {
    color: #F16622;
}


.slogan__text-position-middle {
    max-width: 950px;
}

.slogan__first-line-img {
    width: 181px;
    height: 48px;
    border-radius: 15px;
    margin-left: 20px;
}

.slogan__third-line-img {
    width: 450px;
    height: 48px;
}
/* Slogan style end */

/* Our-games style start */
.our-games-list {
    margin-bottom: 60px;
}

.our-games-item {
    position: relative;
    padding: 30px 0;
    border-top: 1px solid #CACACA;
    display: grid;
    grid-template-columns: 255px auto 40px;
}

.our-games-item:last-child {
    border-bottom: 1px solid #CACACA;
    margin-bottom: 0;
}

.our-games-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.our-games-item__picture {
    width: 255px;
}

.our-games-item__img {
    height: 110px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.our-games-item__text {
    display: flex;
}

.our-games-item__title {
    width: 315px;
    margin-left: 60px;
    font-family: Trap;
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 100%;
    text-transform: uppercase;
    color: #191A1E;
}

.our-games-item__desc {
    max-width: 376px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #191A1E;
    margin-left: 65px;
}

.our-games-item__arrow {
    width: 40px;
    height: 40px;
    background: url('../img/svg/game-list-arrow-nonactive.svg') center/cover no-repeat;
}

.our-games-item:hover .our-games-item__arrow {
    background: url('../img/svg/game-list_arrow-active.svg') center/cover no-repeat;
}

.our-games-list:hover .our-games-item:not(:hover) img {filter: grayscale(100%);}
.our-games-list:hover .our-games-item:not(:hover) .our-games-item__desc {color: #707074;}

.our-games-more {
    margin-left: 315px;
}

/* Our-games style end*/


/* Section news style start*/
.news {
    margin-bottom: 100px;
}

.news-cards {
    display: grid;
    grid-template-columns: auto 426px auto;
    padding: 25px 0;
    border: 0;
    border-top: 1px solid #525358;
    border-bottom: 1px solid #525358;
    margin-bottom: 60px;
}

.news-card {
    position: relative;
    display: grid;
    padding: 15px 40px;
    border-right: 1px solid #525358;
}
.news-card:first-child {
    padding-left: 0;
}
.news-card:nth-child(3) {
    padding-right: 0;
}

.news-card:last-child {
    display: none;
}
.news-card:nth-child(3) {
    border: 0;
}
.news-card__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.news-card__picture {
    position: relative;
    margin-bottom: 30px;
}

.news-card__img {
    height: 200px;
    width: 346px;
    border-radius: 15px;
}
.news-card__title {
    padding-right: 24px;
    font-family: Trap;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.news-card__text {
    width: 100%;
    padding-right: 24px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
.news-card__caption {
    height: 34px;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0;
}
.news-card__data {
    font-size: 16px;
    line-height: 140%;
    color: #898B91;
}

.news-card__arrow {
    height: 34px;
    width: 34px;
    background: url('../img/svg/news-arrow-nonactive.svg') center/cover no-repeat;
    border: 0;
}

.news-card:hover .news-card__arrow {
    background-image: url('../img/svg/news-arrow-active.svg');
}

.news__more {
    width: 100%;
    text-align: center;
}
/* News style end */


/* Hiring style starts */
.hiring__caption {
    margin-bottom: 0;
}

.hiring__cards {
    display: flex;
    margin-top: 80px;
}

.hiring__card {
    height: 200px;
    padding-top: 40px;
    padding-left: 30px;
    border-left: 1px solid #CACACA;
}

.hiring__card:first-of-type {
    width: 315px;
}

.hiring__card-number {
    font-family: Trap;
    font-style: normal;
    font-weight: 600;
    font-size: 74px;
    line-height: 100%;
    color: #F16622;
}

.hiring__card-desc {
    width: 150px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #898B91;
}

.hiring__more {
    margin-top: auto;
}

/* Hiring style ends */

/* Media start */
@media screen and (max-width: 1000px) {
    .cover__title-text-orange {
        margin-top: 0;
    }

    .cover__desc{
        margin-bottom: 30px;
        line-height: 130%;
    }

    .cover__btn:hover::after,
    .cover__btn:active::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: rgba(0,0,0,.05);
    }

    .cover__progress-bar{
        top: 92px;
    }

    .cover__progress-bar-item span.cover__progress-bar-line,
    .cover__progress-bar-item span.cover__progress-bar-line .inProgress {
        height: 3px;
    }

    .about-us__card {
        font-size: 14px;
    }

    .slogan {
        margin-bottom: 50px;
    }

    .slogan__first-line-img,
    .slogan__second-line-img,
    .slogan__third-line-img {
        display: none;
    }

    .slogan p {
        width: 100%;
    }

    .slogan__text-position-middle {
        margin-left: 0;
        max-width: 430px;
    }

    .our-games-item__picture {
        position: relative;
        width: 100%;
        height: 0;
    }

    .our-games-item__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 10px;
    }

    .our-games-item__text {
        display: grid;
    }

    .our-games-item__title {
        font-size: 20px;
        margin-bottom: 17px;
    }

    .our-games-item__desc {
        font-size: 14px;
    }

    .our-games-item__arrow {
        width: 24px;
        height: 24px;
    }

    .news {
        margin-bottom: 50px;
    }

    .news-card__picture {
        width: 100%;
        height: auto;
    }

    .news-card__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .news-card__title {
        font-size: 18px;
    }

    .news-card__text {
        font-size: 14px;
    }

    .hiring__card {
        height: 120px;
        padding-top: 20px;
        padding-left: 15px;
    }
    .hiring__card-number {
        font-size: 40px;
    }

    .hiring__card-desc {
        font-size: 16px;
    }
}
@media screen and (max-width: 640px) {
    .cover {
        height: calc(100vh + 150px);
    }
    .cover__title-wrap {
        width: 100%;
        padding: 0 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 42px min-content min-content min-content;
        transform: translateY(-37px);
    }

    .cover__title {
        font-size: 49px;
    }

    .slick-slider {
        height: 100%;
    }

    .slick-list,
    .slick-track,
    .slick-slide {
        height: 100%;
    }

    .cover__pic {
        height: calc(100vh - 122px);
    }

    .slick-next, .slick-prev {
        top: 0;
        left: 0;
        visibility: hidden;
    }

    .cover__progress-bar-container {
        width: 100%;
        padding: 0 10px;
        column-gap: 15px;
    }

    .cover__title-text-orange {
        top: 42px;
        left: 10px;
        letter-spacing: -0.02em;
    }

    .cover__desc {
        width: 245px;
        height: 63px;
        margin-left: 0;
        font-size: 16px;
        display: block;
        margin-top: 5px;
        order: 1;
        grid-column: span 2;
    }

    .cover__btn {
        position: relative;
        left: 0;
        top: 0;
        order: 2;
        width: 120px;
        height: 120px;
        font-size: 18px;
        line-height: 120px;
        transform: none;
        justify-self: end;
    }

    .about-us__caption {
        margin-bottom: 50px;
        grid-template-columns: 1fr
    }

    .about-us__cards {
        gap: 30px;
    }

    .about-us__card {
        width: 300px;
    }

    .about-us__more {
        margin-left: 0;
    }

    .slogan__text {
        font-size: 25px;
    }

    .our-games-item {
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .our-games-item__picture {
        padding-top: 43.34%;
        margin-bottom: 30px;
    }

    .our-games-item__text {
        max-width: calc(100% - 54px);
    }

    .our-games-item__title,
    .our-games-item__desc {
        width: auto;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .our-games-more {
        margin-left: 0;
    }

    .news-cards {
        grid-template-columns: 1fr;
        row-gap: 40px;
        padding: 40px 0;
    }

    .news-card {
        padding: 0 0 40px 0;
        border: none;
        border-bottom: 1px solid #525358;
    }

    .news-card:nth-child(3) {
        padding: 0;
    }

    .news-card__picture {
        padding-top: 66.667%;
    }

    .hiring__cards {
        margin-top: 0;
    }

    .hiring__more {
        order: 1;
    }

    .hiring__card-desc {
        width: auto;
    }
}
@media screen and (min-width: 640px) and (max-width: 860px) {
    .cover__title-wrap {
        grid-template-rows: 65px auto 0;
        transform: translateY(-59px);
    }

    .cover__title {
        font-size: 78px;
    }

    .cover__title-text-orange {
        top: 65px;
    }

    .cover__desc {
        width: 245px;
        margin-left: 59px;
        font-size: 16px;
    }

    .cover__btn {
        top: -180px;
        width: 130px;
        height: 130px;
        font-size: 18px;
        line-height: 130px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
    .cover__title-wrap {
        width: 100%;
        padding: 0 20px;
    }

    .cover__pic {
        height: calc(100vh - 84px);
    }

    .slick-next, .slick-prev {
        top: 0;
        left: 0;
        visibility: hidden;
    }

    .cover__progress-bar-container {
        width: 100%;
        padding: 0 20px;
        column-gap: 30px;
    }

    .cover__progress-bar-item span.cover__progress-bar-line {
        height: 3px;
    }

    .cover__btn {
        left: auto;
        right: 20px;
    }

    .about-us__caption {
        margin-bottom: 50px;
        grid-template-columns: repeat(2, 1fr)
    }

    .about-us__cards {
        gap: 40px;
    }

    .about-us__card {
        width: 280px;
    }

    .about-us__more {
        margin-left: calc(50% + 20px);
    }

    .slogan {
        max-width: 508px;
        margin-left: 0;
    }

    .slogan__text {
        font-size: 30px;
    }

    .our-games-item {
        padding: 40px 0;
        grid-template-columns: calc(50% - 20px) auto 25px;
    }

    .our-games-item__picture {
        padding-top: 46.43%;
    }

    .our-games-item__text {
        grid-template-rows: repeat(2, min-content);
    }

    .our-games-item__title,
    .our-games-item__desc {
        width: auto;
        max-width: 100%;
        margin-left: 40px;
        margin-right: 26px;
    }

    .our-games-more {
        margin-left: calc(50% + 20px);
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    .news-card:last-child {
        display: grid;
    }

    .news-card:first-child,
    .news-card:nth-child(3) {
        padding: 10px 20px 10px 0;
        border-right: 1px solid #525358;
    }

    .news-card:nth-child(2),
    .news-card:last-child {
        padding: 10px 0 10px 20px;
        border: none;
    }

    .news-card:first-child::after,
    .news-card:nth-child(2)::after {
        position: absolute;
        content: '';
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #525358;
    }

    .news-card:first-child::after {
        width: calc(100% + 1px);
    }

    .news-card__picture {
        padding-top: 71.43%;
    }

    .news-card__arrow {
        height: 24px;
        width: 24px;
    }

    .hiring__cards {
        margin-top: 50px;
    }

    .hiring__card:first-of-type {
        width: 155px;
    }

    .hiring__card-desc {
        width: 108px;
    }
}

@media screen and (min-width: 860px) and (max-width: 1279px) {
    .cover__title-wrap {
        grid-template-rows: 101px auto 0 0;
        transform: translateY(-92px);
    }

    .cover__title {
        font-size: 123px;
        position: relative;
    }

    .cover__pic {
        height: calc(100vh - 123px);
    }

    .cover__desc {
        width: 274px;
        font-size: 18px;
    }

    .cover__btn {
        left: auto;
        right: 20px;
        width: 152px;
        height: 152px;
        font-size: 24px;
        line-height: 152px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .cover__title-wrap {
        width: 960px;
    }

    .cover__desc {
        margin-left: 88px;
    }


    .slick-prev {
        visibility: visible;
        top: 194px;
        left: calc((100vw - 960px) / 2);
        transform: rotate(180deg) translateY(20px);
    }

    .slick-next {
        visibility: visible;
        top: 194px;
        left: calc((100vw - 960px) / 2 + 50px);
    }

    .cover__progress-bar{
        top: 139px;
    }

    .cover__progress-bar-container {
        width: 960px;
        padding: 0;
    }

    .about-us__caption {
        grid-template-columns: repeat(2, 1fr)
    }

    .about-us__card {
        width: 300px;
    }

    .about-us__more {
        margin-left: 510px;
    }

    .slogan__text {
        font-size: 48px;
    }

    .slogan__first-line-img {
        width: 154px;
        height: 42px;
    }

    .slogan__second-line-img {
        width: 185px;
        height: 92px;
    }

    .slogan__text-position-middle {
        max-width: 765px;
        margin-left: 10px;
    }

    .slogan__third-line-img {
        width: 398px;
        height: 41px;
    }

    .our-games-item {
        grid-template-columns: 195px auto 40px;
    }

    .our-games-item__picture {
        width: 195px;
    }

    .our-games-item__img {
        height: 84px;
        border-radius: 10px;
    }

    .our-games-item__title {
        width: 238px;
        margin-left: 50px;
        font-size: 31px;
    }

    .our-games-item__desc {
        max-width: 330px;
        margin-left: 50px;
    }

    .our-games-more {
        margin-left: 245px;
    }

    .news-cards {
        grid-template-columns: auto 340px auto;
    }

    .news-card {
        padding: 15px 30px;
    }

    .news-card__img {
        height: 162px;
        width: 280px;
    }

    .news-card__text {
        width: 280px;
    }

    .hiring__card {
        height: 180px;
        padding-top: 30px;
    }
    .hiring__card:first-of-type {
        width: 230px;
    }
}


@keyframes moveUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    50% {
      opacity: 1;
    }
}
@keyframes moveDown {
    from {
      opacity: 1;
    }

    50% {
      opacity: 0;
      transform: translateY(100%);
    }

    to {
      opacity: 0;
    }
}
  .cover__title-text-white,
  .cover__title-text-orange,
  .cover__desc,
  .cover__btn {
      opacity: 0;
}

  .cover__title-wrap.active .cover__title-text-white,
  .cover__title-wrap.active .cover__title-text-orange,
  .cover__title-wrap.active .cover__desc {
    opacity: 1;
    animation-name: moveUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__title-wrap.nonactive .cover__title-text-white,
.cover__title-wrap.nonactive .cover__title-text-orange,
.cover__title-wrap.nonactive .cover__desc {
    opacity: 1;
    animation-name: moveDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__title-wrap.active .cover__title-text-orange {
    animation-delay: .4s;
}

.cover__title-wrap.active .cover__desc {
    animation-delay: 0.2s;
}

@keyframes makeVisible {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
@keyframes makeHidden {
    from {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    to {
      opacity: 0;
    }
}

.cover__title-wrap.active .cover__btn {
    opacity: 1;
    animation-name: makeVisible;
    -webkit-animation-duration: 1s;
    animation-delay: 0.8s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover__title-wrap.nonactive .cover__btn {
    opacity: 1;
    animation-name: makeHidden;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@media screen and (max-width: 639px) {
    .cover__title-wrap.active .cover__title-text-orange {
        animation-delay: .2s;
    }

    .cover__title-wrap.active .cover__desc {
        animation-delay: 0.4s;
    }
}
/* Media end */