<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/games.css">
    <title>Our games</title>
</head>
<body>
    <!-- Header start -->
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">BioWare</a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="/about.html" class="header__link">About</a>
                        </li>
                        <li class="header__item">
                            <a href="/games.html" class="header__link">Our games</a>
                        </li>
                        <li class="header__item">
                            <a href="/careers.html" class="header__link">Careers</a>
                        </li>
                        <li class="header__item">
                            <a href="/contacts.html" class="header__link">Contact</a>
                        </li>
                        <li class="header__item">
                            <a href="https://www.bioware.com/news/" class="header__link">News</a>
                        </li>
                        <li class="header__item">
                            <a href="https://www.origin.com/rus/en-us/store/browse?searchString=bioware" class="header__link">Store</a>
                        </li>
                    </ul>
                    <div class="header__social-networks">
                        <div class="header__follow_us">
                            Follow us
                        </div>
                        <ul class="header__social-networks-links">
                            <li>
                                <a href="http://www.facebook.com/BioWare"><img src="./img/svg/bi_meta.svg" alt="meta-icon"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/BioWare"><img src="./img/svg/bi_twitter.svg" alt="twitter-icon"></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCePE_9yUaBe478B_CuCBcoA"><img
                                        src="./img/svg/bi_youtube.svg" alt="yotube-icon"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/biowarebase/"><img src="./img/svg/bi_instagram.svg"
                                        alt="instagram-icon"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="header__burger ">Menu</div>
            </div>
        </div>
    </header>
    <!-- Header end -->

    <main>
        <!-- Cover starts -->
        <section class="section-block cover">
            <div class="wrapper">
                <div class="cover__wrap">
                    <h1 class="cover__title cover__title_first-line">Welcome</h1>
                    <p class="cover__desc">BioWare creates games focused on rich stories, unforgettable characters, vast worlds</p>
                    <h1 class="cover__title cover__title_second-line">TO</h1>
                    <div class="cover__pic">
                        <img src="./img/games-cover-pic.jpg" alt="" class="cover__img">
                    </div>
                    <h1 class="cover__title cover__title_third-line">ADVENTURE</h1>
                </div>
            </div>
        </section>
        <!-- Cover ends -->

        <!-- Projects start -->
        <section class="section-block projects">
            <div class="wrapper">
                <h6 class="section-frame black-frame-line">Featured projects</h6>
                <div class="projects-cards">
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">MASS EFFECT</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                                <p>Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">MASS EFFECT 2</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">MASS EFFECT 3</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">MASS EFFECT: ANDROMEDA</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                                <p>Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">MASS EFFECT LEGENDARY EDITION</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                                <p>Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            </div>
                            <a href="./mass_effect.html" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">DRAGON AGE: ORIGINS</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                                <p>Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">DRAGON AGE II</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                                <p>Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">DRAGON AGE: INQUISITION</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                                <p>Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">STAR WARS: THE OLD REPUBLIC</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                                <p>Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                    <div class="projects-card">
                        <div class="projects-card__pic">
                            <img src="./img/project-card-pic5.jpg" alt="MASS EFFECT" class="projects-card__img">
                        </div>
                        <div class="projects-card__text last-card" onclick="click_action(this)" onmouseover="changeCardTitle(this)" onmouseout="rechangeCardTitle(this)">
                            <div class="projects-card__caption">
                                <button class="projects-card__title">ANTHEM</button>
                                <button class="projects-card__button"></button>
                            </div>
                            <div class="projects-card__desc">
                                <p>One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                                <p>Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            </div>
                            <a href="#!" class="section-more-btn projects-more">
                                Learn more
                                <img src="./img/svg/link-arrow.svg" alt="btn-arrow" class="section-more-btn__arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects end -->

        <!-- Archive start-->
        <section class="section-block archive">
            <div class="wrapper">
                <div class="section-frame black-frame-line">Archive</div>
                <div class="section-caption archive-caption">
                    <h3 class="section-caption__title">Please explore our previous games. They are also great and our beloved projects.</h3>
                    <div class="archive-projects" id="projects">
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">JADE EMPIRE</a>
                        <span class="archive-projects__slash">/</span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">STAR WARS: KNIGHTS OF THE OLD REPUBLIC</a>
                        <span class="archive-projects__slash"> / </span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">NEVERWINTER NIGHTS</a>
                        <span class="archive-projects__slash"> / </span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">BALDUR'S CATE II</a>
                        <span class="archive-projects__slash"> / </span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">BALDUR'S CATE</a>
                        <span class="archive-projects__slash"> /</span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">MDK2</a>
                        <span class="archive-projects__slash"> / </span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">SHATTERED STEEL</a>
                        <span class="archive-projects__slash"> / </span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">MASS EFFECT GALAXY</a>
                        <span class="archive-projects__slash"> / </span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">SONIC CHRONICLES</a>
                        <span class="archive-projects__slash"> / </span>
                        <a href="#!" class="archive-projects__project" onmouseover="changeSlashColor()" onmouseout="rechangeSlashColor()">THE DARK BROTHERHOOD</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Archive end-->
        <div class="wrapper">
            <a href="./mass_effect.html" class="go-to-other-page">
                Go to Mass Effect
                <img src="./img/svg/link-arrow-lg.svg" alt="btn-arrow" class="go-to-other-page__arrow">
            </a>
        </div>
    </main>

    <!-- Footer start-->
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__wrapper">
                <div class="footer__container">
                    <div class="footer__logo">
                        <a href="./index.html" class="footer__logo-link">BioWare</a>
                    </div>
                    <div class="footer__follow_us">
                        Follow us
                    </div>
                    <ul class="footer__social_networks">
                        <li>
                            <a href="http://www.facebook.com/BioWare"><img src="./img/svg/bi_meta.svg" alt="meta-icon"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/BioWare"><img src="./img/svg/bi_twitter.svg" alt="twitter-icon"></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCePE_9yUaBe478B_CuCBcoA"><img
                                    src="./img/svg/bi_youtube.svg" alt="yotube-icon"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/biowarebase/"><img src="./img/svg/bi_instagram.svg"
                                    alt="instagram-icon"></a>
                        </li>
                    </ul>
                </div>

                <nav class="footer__nav">
                    <ul class="footer__main-list">
                        <li class="footer__item">
                            <a href="./about.html">About</a>
                        </li>
                        <li class="footer__item">
                            <a href="./games.html">Our games</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Careers</a>
                        </li>
                        <li class="footer__item">
                            <a href="./contacts.html">Contact</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">News</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Store</a>
                        </li>
                    </ul>
                    <ul class="footer__legal-list">
                        <li class="footer__item">
                            <a href="#!">User Agreement</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Privacy policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Cookie policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Legal</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Support</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Press</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__license">©2021 Electronic Arts Inc. All rights reserved.</div>
        </div>
    </footer>
    <!-- Footer end -->
    <script src="./scripts/main.js"></script>
    <script src="./scripts/jquery.min.js"></script>
    <script src="./scripts/games_cards.js"></script>
</body>
</html>