{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioWare</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bioware/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bioware/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bioware/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bioware/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'bioware/css/index.css' %}">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="#!" class="header__logo-link">BioWare</a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="/about.html" class="header__link">About</a>
                        </li>
                        <li class="header__item">
                            <a href="/games.html" class="header__link">Our games</a>
                        </li>
                        <li class="header__item">
                            <a href="/careers.html" class="header__link">Careers</a>
                        </li>
                        <li class="header__item">
                            <a href="/contacts.html" class="header__link">Contact</a>
                        </li>
                        <li class="header__item">
                            <a href="https://www.bioware.com/news/" class="header__link">News</a>
                        </li>
                        <li class="header__item">
                            <a href="https://www.origin.com/rus/en-us/store/browse?searchString=bioware" class="header__link">Store</a>
                        </li>
                    </ul>
                    <div class="header__social-networks">
                        <div class="header__follow_us">
                            Follow us
                        </div>
                        <ul class="header__social-networks-links">
                            <li>
                                <a href="http://www.facebook.com/BioWare"><img src="{% static 'bioware/img/svg/bi_meta.svg' %}" alt="meta-icon"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/BioWare"><img src="{% static 'bioware/img/svg/bi_twitter.svg' %}" alt="twitter-icon"></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCePE_9yUaBe478B_CuCBcoA"><img
                                        src="{% static 'bioware/img/svg/bi_youtube.svg' %}" alt="yotube-icon"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/biowarebase/"><img src="{% static 'bioware/img/svg/bi_instagram.svg' %}"
                                        alt="instagram-icon"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="header__burger ">Menu</div>
            </div>
        </div>
    </header>
    <!-- Header end -->

    <main>
        <!-- Cover start -->
        <section class="section-block cover">
            <div class="cover__slider">
                <div>
                    <img src="{% static 'bioware/img/mass_effect_intro.jpg' %}" alt="mass_effect" class="cover__pic">
                    <div class="cover__title-wrap">
                        <h1 class="cover__title cover__title-text-white">Relive</h1>
                        <p class="cover__desc">
                            The Mass Effect Legendary Edition includes single-player base content and over 40 DLC
                        </p>
                        <h1 class="cover__title cover__title-text-orange">the legend</h1>
                        <div class="cover__btn">Buy now<a href="#!" class="cover__link"></a></div>
                    </div>
                </div>
                <div>
                    <img src="{% static 'bioware/img/anthem_intro.jpg' %}" alt="anthem" class="cover__pic">
                    <div class="cover__title-wrap">
                        <h1 class="cover__title cover__title-text-white">Save</h1>
                        <p class="cover__desc">
                            Get to know the javelin exosuits, progression mechanics, and other gameplay features
                        </p>
                        <h1 class="cover__title cover__title-text-orange">Humanity</h1>
                        <div class="cover__btn">Buy now<a href="#!" class="cover__link"></a></div>
                    </div>
                </div>
                <div>
                    <img src="{% static 'bioware/img/dragon_age_intro.jpg' %}" alt="dragon_age" class="cover__pic">
                    <div class="cover__title-wrap">
                        <h1 class="cover__title cover__title-text-white">Lead</h1>
                        <p class="cover__desc">
                            Enter Thedas, a vibrant world of rugged wilderness, treacherous labyrinths, and glittering cities
                        </p>
                        <h1 class="cover__title cover__title-text-orange">Inquisition</h1>
                        <div class="cover__btn">Buy now<a href="#!" class="cover__link"></a></div>
                    </div>
                </div>
                <div>
                    <img src="{% static 'bioware/img/star_wars-intro.jpg' %}" alt="star-wars" class="cover__pic">
                    <div class="cover__title-wrap">
                            <h1 class="cover__title cover__title-text-white">fight</h1>
                            <p class="cover__desc">
                                Join the battle for supremacy in Star Wars: The Old Republic
                            </p>
                            <h1 class="cover__title cover__title-text-orange">Continues</h1>
                        <div class="cover__btn">Buy now<a href="#!" class="cover__link"></a></div>
                    </div>
                </div>
            </div>
            <div class="cover__progress-bar">
                <div class="cover__progress-bar-container">
                    <div class="cover__progress-bar-item">
                        <span data-slick-index="0" class="cover__progress-bar-line"></span>
                    </div>
                    <div class="cover__progress-bar-item">
                        <span data-slick-index="1" class="cover__progress-bar-line"></span>
                    </div>
                    <div class="cover__progress-bar-item">
                        <span data-slick-index="2" class="cover__progress-bar-line"></span>
                    </div>
                    <div class="cover__progress-bar-item">
                        <span data-slick-index="2" class="cover__progress-bar-line"></span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Cover end-->

        <!-- About-us start -->
        <section class="section-block about-us">
            <div class="wrapper">
                <div class="section-frame black-frame-line">About us</div>
                <div class="section-caption about-us__caption">
                    <h2 class="section-caption__title">Look deeper into BioWare and our history.</h2>
                </div>
                <ul class="about-us__cards">
                    <li class="about-us__card about-us__card-background-orange">
                        <div class=" about__card-title">Foundation</div>
                        <div class=" about__card-desc">BioWare was founded in 1995. So we are 26 years in the
                            gaming industry.
                        </div>
                    </li>
                    <li class="about-us__card about-us__card-background-blue">
                        <div class=" about__card-title">What we do</div>
                        <div class=" about__card-desc">We create high-quality console, PC games and specialize
                            in role-playing games.
                        </div>
                    </li>
                    <li class="about-us__card about-us__card-background-blue-grey">
                        <div class=" about__card-title">Our projects</div>
                        <div class=" about__card-desc">We developed 20 games focused on rich stories,
                            unforgettable characters, and vast worlds to discover.
                        </div>
                    </li>
                    <li class="about-us__card about-us__card-background-green">
                        <div class=" about__card-title">Recognition</div>
                        <div class=" about__card-desc">We have won 51 awards related to the gaming industry and
                            other areas.
                        </div>
                    </li>
                </ul>
                <div class="about-us__more">
                    <a href="./about.html" class="section-more-btn">
                        Learn more
                        <img src="{% static 'bioware/img/svg/link-arrow.svg' %}" alt="btn-arrow" class="section-more-btn__arrow">
                    </a>
                </div>
            </div>
        </section>
        <!-- Abouts-us end -->

        <!-- Slogan start -->
        <div class="wrapper slogan">
            <span class="slogan__text">Creating <span class="slogan__text-color-orange">worlds of adventure,</span></span>
            <img src="{% static 'bioware/img/index-slogan-image1.jpg' %}" class="slogan__first-line-img" alt="slogan-img1">
            <img src="{% static 'bioware/img/svg/index-slogan-image2.svg' %}" class="slogan__second-line-img" alt="slogan-img2">
            <span class="slogan__text slogan__text-position-middle">conflict, and companionship that inspire you to become</span>
            <span class="slogan__text slogan__text-color-orange">the hero of your story.</span>
            <img src="{% static 'bioware/img/index-slogan-image3.jpg' %}" class="slogan__third-line-img" alt="slogan-img3">
        </div>
        <!-- Slogan end -->

        <!-- Our-games start -->
        <section class="section-block white-section our-games">
            <div class="wrapper">
                <div class="section-frame blue-frame white-frame-line">Our games</div>
                <div class="section-caption">
                    <h3 class="section-caption__title black-text">Please explore our most popular games. We invite you to join us on the journey.</h3>
                </div>
                <ul class="our-games-list">
                    <li class="our-games-item">
                        <a href="#!"></a>
                        <div class="our-games-item__picture">
                            <img src="{% static 'bioware/img/index-games-mass-effect.jpg' %}" alt="mass-effect" class="our-games-item__img">
                        </div>
                        <div class="our-games-item__text">
                            <div class="our-games-item__title">Mass effect</div>
                            <div class="our-games-item__desc">The galaxy is trapped in an endless cycle of extinction.
                                Every 50,000 years, an ancient machine race invades with ruthless efficiency, wiping out all
                                advanced organic civilization.
                            </div>
                        </div>
                        <div class="our-games-item__arrow"></div>
                    </li>
                    <li class="our-games-item">
                        <a href="#!"></a>
                        <div class="our-games-item__picture">
                            <img src="{% static 'bioware/img/index-games-mass-effect-2.jpg' %}" alt="mass-effect-2" class="our-games-item__img">
                        </div>
                        <div class="our-games-item__text">
                            <div class="our-games-item__title">MASS EFFECT 2</div>
                            <div class="our-games-item__desc">Two years after Commander Shepard repelled the invading
                                Reapers bent on the destruction of organic life, a mysterious new enemy emerges.
                            </div>
                        </div>
                        <div class="our-games-item__arrow"></div>
                    </li>
                    <li class="our-games-item">
                        <a href="#!"></a>
                        <div class="our-games-item__picture">
                            <img src="{% static 'bioware/img/index-games-da.jpg' %}" alt="dragon-age" class="our-games-item__img">
                        </div>
                        <div class="our-games-item__text">
                            <div class="our-games-item__title">DRAGON AGE: ORIGINS</div>
                            <div class="our-games-item__desc">Dragon Age: Origins is an epic tale of violence, passion,
                                and betrayal. A Blight threatens to destroy the world, and survival rests in the hands
                                of those chosen by fate.
                            </div>
                        </div>
                        <div class="our-games-item__arrow"></div>
                    </li>
                    <li class="our-games-item">
                        <a href="#!"></a>
                        <div class="our-games-item__picture">
                            <img src="{% static 'bioware/img/index-games-da-2.jpg' %}" alt="dragon-age-2" class="our-games-item__img">
                        </div>
                        <div class="our-games-item__text">
                            <div class="our-games-item__title">DRAGON AGE II</div>
                            <div class="our-games-item__desc">Experience the epic sequel to the 2009 Game of the Year.
                                In Dragon Age II, you are one of the few who escaped the destruction of your home.
                            </div>
                        </div>
                        <div class="our-games-item__arrow"></div>
                    </li>
                    <li class="our-games-item">
                        <a href="#!"></a>
                        <div class="our-games-item__picture">
                            <img src="{% static 'bioware/img/index-games-da-inq.jpg' %}" alt="dragon-age-inquisition" class="our-games-item__img">
                        </div>
                        <div class="our-games-item__text">
                            <div class="our-games-item__title">DRAGON AGE: INQUISITION
                            </div>
                            <div class="our-games-item__desc">Lead the Inquisition to hunt down the agents of chaos. The
                                choices you make will forever change the Dragon Age.
                            </div>
                        </div>
                        <div class="our-games-item__arrow"></div>
                    </li>
                </ul>
                <div class="our-games-more">
                    <a href="./games.html" class="section-more-btn black-text">
                        Go to our games
                        <img src="{% static 'bioware/img/svg/link-arrow-black.svg' %}" alt="btn-arrow" class="section-more-btn__arrow">
                    </a>
                </div>
            </div>
        </section>
        <!-- Our-games end-->

        <!-- News start -->
        <section class="section-block news">
            <div class="wrapper">
                <div class="section-frame black-frame-line">News</div>
                <div class="section-caption">
                    <h3 class="section-caption__title">Check out the latest news from time to time to stay updated.</h3>
                </div>
                <ul class="news-cards">
                    <li class="news-card">
                        <a href="#!" class="news-card__link"></a>
                        <div class="news-card__picture">
                            <img src="{% static 'bioware/img/index-news-image1.jpg' %}" alt="news_image1" class="news-card__img">
                        </div>
                        <div class="news-card__title">Legacy of the Sith Story Livestream Recap</div>
                        <div class="news-card__text">Our Legacy of the Sith Story Livestream was jam-packed with information!
                            If you were unable to watch — or if you want a recap of everything we showed — we have you
                            covered.
                        </div>
                        <div class="news-card__caption">
                            <div class="news-card__data">Nov. 19, 2021</div>
                            <div class="news-card__arrow"></div>
                        </div>
                    </li>
                    <li class="news-card">
                        <a href="#!" class="news-card__link"></a>
                        <div class="news-card__picture">
                            <img src="{% static 'bioware/img/index-news-image2.jpg' %}" alt="news_image2" class="news-card__img">
                        </div>
                        <div class="news-card__title">Happy N7 Day 2021</div>
                        <div class="news-card__text">
                            Join us as we celebrate all things Mass Effect It’s been nearly fourteen years since Commander Shepard first boarded the Normandy. Fourteen years since the opening of a huge new universe for players to explore.
                        </div>
                        <div class="news-card__caption">
                            <div class="news-card__data">Nov. 7, 2021</div>
                            <div class="news-card__arrow"></div>
                        </div>
                    </li>
                    <li class="news-card">
                        <a href="#!" class="news-card__link"></a>
                        <div class="news-card__picture">
                            <img src="{% static 'bioware/img/index-news-image3.jpg' %}" alt="news_image3" class="news-card__img">
                        </div>
                        <div class="news-card__title">Gary McKay Confirmed as Studio General Manager</div>
                        <div class="news-card__text">
                            We’re delighted to announce that Gary McKay, formerly the Interim General Manager of BioWare, has been confirmed as our permanent GM.
                        </div>
                        <div class="news-card__caption">
                            <div class="news-card__data">June 14, 2021</div>
                            <div class="news-card__arrow"></div>
                        </div>
                    </li>
                    <li class="news-card">
                        <a href="#!" class="news-card__link"></a>
                        <div class="news-card__picture">
                            <img src="{% static 'bioware/img/index-news-image4.jpg' %}" alt="news_image4" class="news-card__img">
                        </div>
                        <div class="news-card__title">Thank you from The Mass Effect Legendary Team</div>
                        <div class="news-card__text">
                            Hello again, everyone! By this time tomorrow, Mass Effect™ Legendary Edition will be in your hands. It’s been a long-awaited day for all of us on the team.
                        </div>
                        <div class="news-card__caption">
                            <div class="news-card__data">June 14, 2021</div>
                            <div class="news-card__arrow"></div>
                        </div>
                    </li>
                </ul>
                <div class="news__more">
                    <a href="#!" class="section-more-btn">
                        Load more
                        <img src="{% static 'bioware/img/svg/link-arrow.svg' %}" alt="btn-arrow" class="section-more-btn__arrow">
                    </a>
                </div>
            </div>
        </section>
        <!-- News end -->

        <!-- Hiring start -->
        <section class="section-block white-section hiring">
            <div class="wrapper">
                <div class="section-frame blue-frame white-frame-line">We are hiring</div>
                <div class="section-caption hiring__caption">
                    <div class="section-caption__title black-text">BioWare's story continues to evolve. Let’s create something amazing together.</div>
                    <div class="section-caption__desc black-text">
                        We believe a work and life balance is essential to the success of our employees.
                        It is our goal to create a work environment that is hardworking and fun. We invite you to join us on the
                        journey.
                    </div>
                    <div class="hiring__more">
                        <a href="/careers.html" class="section-more-btn black-text">
                            Explore job openings
                            <img src="{% static 'bioware/img/svg/link-arrow-black.svg' %}" alt="btn-arrow" class="section-more-btn__arrow">
                        </a>
                    </div>
                    <div class="hiring__cards">
                        <div class="hiring__card">
                            <h1 class="hiring__card-number">27</h1>
                            <p class="hiring__card-desc">Open positions</p>
                        </div>
                        <div class="hiring__card">
                            <h1 class="hiring__card-number">7</h1>
                            <p class="hiring__card-desc">Teams looking for new members</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hiring end -->

        <div class="wrapper">
            <a href="./games.html" class="go-to-other-page">
                Go to our games
                <img src="{% static 'bioware/img/svg/link-arrow-lg.svg' %}" alt="btn-arrow" class="go-to-other-page__arrow">
            </a>
        </div>
    </main>
    <!-- Footer star -->
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__wrapper">
                <div class="footer__container">
                    <div class="footer__logo">
                        <a href="./index.html" class="footer__logo-link">BioWare</a>
                    </div>
                    <div class="footer__follow_us">
                        Follow us
                    </div>
                    <ul class="footer__social_networks">
                        <li>
                            <a href="http://www.facebook.com/BioWare"><img src="{% static 'bioware/img/svg/bi_meta.svg' %}" alt="meta-icon"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/BioWare"><img src="{% static 'bioware/img/svg/bi_twitter.svg' %}" alt="twitter-icon"></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCePE_9yUaBe478B_CuCBcoA"><img
                                    src="{% static 'bioware/img/svg/bi_youtube.svg' %}" alt="yotube-icon"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/biowarebase/"><img src="{% static 'bioware/img/svg/bi_instagram.svg' %}"
                                    alt="instagram-icon"></a>
                        </li>
                    </ul>
                </div>

                <nav class="footer__nav">
                    <ul class="footer__main-list">
                        <li class="footer__item">
                            <a href="./about.html">About</a>
                        </li>
                        <li class="footer__item">
                            <a href="./games.html">Our games</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Careers</a>
                        </li>
                        <li class="footer__item">
                            <a href="./contacts.html">Contact</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">News</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Store</a>
                        </li>
                    </ul>
                    <ul class="footer__legal-list">
                        <li class="footer__item">
                            <a href="#!">User Agreement</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Privacy policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Cookie policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Legal</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Support</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Press</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__license">©2021 Electronic Arts Inc. All rights reserved.</div>
        </div>
    </footer>
    <!-- Footer end -->
    <script src="{% static 'bioware/scripts/main.js' %}"></script>
    <script src="{% static 'bioware/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'bioware/slick/slick.min.js' %}"></script>
    <script src="{% static 'bioware/scripts/index.js' %}"></script>
</body>
</html>

