{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css"/>
    <link rel="stylesheet" href="./css/game_detail.css">
    <title>{{title}}</title>
</head>
<body>
    <!-- Header start-->
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">BioWare</a>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="/about.html" class="header__link">About</a>
                        </li>
                        <li class="header__item">
                            <a href="/games.html" class="header__link">Our games</a>
                        </li>
                        <li class="header__item">
                            <a href="/careers.html" class="header__link">Careers</a>
                        </li>
                        <li class="header__item">
                            <a href="/contacts.html" class="header__link">Contact</a>
                        </li>
                        <li class="header__item">
                            <a href="https://www.bioware.com/news/" class="header__link">News</a>
                        </li>
                        <li class="header__item">
                            <a href="https://www.origin.com/rus/en-us/store/browse?searchString=bioware" class="header__link">Store</a>
                        </li>
                    </ul>
                    <div class="header__social-networks">
                        <div class="header__follow_us">
                            Follow us
                        </div>
                        <ul class="header__social-networks-links">
                            <li>
                                <a href="http://www.facebook.com/BioWare"><img src="./img/svg/bi_meta.svg" alt=""></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/BioWare"><img src="./img/svg/bi_twitter.svg" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCePE_9yUaBe478B_CuCBcoA"><img src="./img/svg/bi_youtube.svg" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/biowarebase/"><img src="./img/svg/bi_instagram.svg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="header__burger ">Menu</div>
            </div>
        </div>
    </header>
    <!-- Header end -->
    <main>
        <!-- Cover start -->
        <section class="section-block cover">
            <div class="wrapper">
                <div class="cover__wrap">
                    <h1 class="cover__title cover__title_first-word">Mass</h1>
                    <h1 class="cover__title cover__title_second-word">Effect</h1>
                    <h2 class="cover__subtitle cover__subtitle__first-word">LEGENDARY</h2>
                    <h2 class="cover__subtitle cover__subtitle_second-word">EDITION</h2>
                    <p class="cover__desc">Relive the complete cinematic saga today</p>
                    <img src="./img/svg/game-detail-intro.svg" alt="MASS EFFECT" class="cover__img">
                    <div class="cover__buy-button">
                        Buy now
                        <a href="#!"></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Cover end -->

        <!-- About start -->
        <section class="section-block about">
            <div class="wrapper">
                <div class="section-frame black-frame-line">About the game</div>
                <div class="section-caption custom-caption">
                    <h3 class="section-caption__title">The Mass Effect trilogy is an innovative sci-fi epic with rich, immersive universe.</h3>
                    <div class="about-cards">
                            <p class="about-card__desc">One person is all that stands between humanity and the greatest threat it’s ever faced. Relive the legend of Commander Shepard in the highly acclaimed Mass Effect trilogy with the Mass Effect™ Legendary Edition.</p>
                            <p class="about-card__desc">Includes single-player base content and over 40 DLC from Mass Effect, Mass Effect 2, and Mass Effect 3 games, including promo weapons, armors, and packs — remastered and optimized for 4K Ultra HD.</p>
                            <div class="about-card__caption">
                                <h6 class="about-card__title">Release	date</h6>
                                <p class="about-card__info">2021-05-14</p>
                            </div>
                            <div class="about-card__caption">
                                <h6 class="about-card__title">Platforms</h6>
                                <p class="about-card__info">PlayStation 4, Xbox One Series, Windows PC</p>
                            </div>
                        </div>
                    </div>
                <div class="slider">
                    <div><img src="./img/game-detail-slide1.jpg" alt="slide1"></div>
                    <div><img src="./img/game-detail-slide2.jpg" alt="slide2"></div>
                    <div><img src="./img/game-detail-slide3.jpg" alt="slide3"></div>
                    <div><img src="./img/game-detail-slide4.jpg" alt="slide4"></div>
                    <div><img src="./img/game-detail-slide5.jpg" alt="slide5"></div>
                    <div><img src="./img/game-detail-slide6.jpg" alt="slide6"></div>
                </div>
                <a href="#!" class="section-more-btn about__more">
                    Watch the trailer
                    <img src="./img/svg/link-arrow.svg" alt="" class="section-more-btn__arrow">
                </a>
            </div>
        </section>
        <!-- About end -->

        <!-- Game's features start-->
        <section class="section-block game-features">
            <div class="wrapper">
                <div class="section-frame black-frame-line">Game’s features</div>
                <div class="section-caption game-features-caption">
                    <h3 class="section-caption__title games-features-title">Commander Shepard returns in 4K Ultra HD.</h3>
                    <p class="section-caption__desc">Take command of the Normandy, assemble your crew, and prepare for an unforgettable adventure in the highly acclaimed series.</p>
                </div>
                <div class="games-features-cards">
                    <div class="games-features-card green-card">
                        <h6 class="games-features-card__title">RELIVE THE CINEMATIC SAGA</h6>
                        <p class="games-features-card__desc">Heart-pounding action meets gripping interactive storytelling where you decide how your unique story unfolds.</p>
                    </div>
                    <div class="games-features-card blue-card">
                        <h6 class="games-features-card__title">EXPERIENCE THE LEGEND OF SHEPARD</h6>
                        <p class="games-features-card__desc">Create and customize your own character, from appearance and skills to a personalized arsenal then lead your elite recon squad across a galaxy.</p>
                    </div>
                    <div class="games-features-card orange-card">
                        <h6 class="games-features-card__title">REFLECT ON YOUR CHOICES</h6>
                        <p class="games-features-card__desc">Your choices seamlessly travel from one game to the next. Each decision you make will control the outcome of every mission, relationship, battle.</p>
                    </div>
                    <a href="#!" class="section-more-btn games-features-more">
                        Explore features
                        <img src="./img/svg/link-arrow.svg" alt="" class="section-more-btn__arrow">
                    </a>
                </div>
            </div>
        </section>
        <!-- Game's features end-->

        <!-- Comparison start -->
        <section class="comparison white-section">
            <div class="wrapper">
                <div class="section-frame blue-frame white-frame-line">Comparison</div>
                <div class="section-caption comparison-caption">
                    <h3 class="section-caption__title black-text">Remastered and optimized for 4K Ultra HD</h3>
                    <p class="section-caption__desc black-text">Relive the cinematic saga with enhanced visuals, textures and models, including modern graphic improvements, updated UI, and more.</p>
                </div>
                <ul class="comparison__control">
                    <li class="comparison__button" id='btn-1' onclick=changeButtonColour(1)>Video 1</li>
                    <li class="comparison__button active" id='btn-2' onclick=changeButtonColour(2)>Image 1</li>
                    <li class="comparison__button" id='btn-3' onclick=changeButtonColour(3)>Video 2</li>
                    <li class="comparison__button" id='btn-4' onclick=changeButtonColour(4)>Image 2</li>
                    <li class="comparison__button" id='btn-5' onclick=changeButtonColour(5)>Image 3</li>
                </ul>
                <div id="comparison__frame">
                    <div class="figure">
                        <video autoplay muted loop id="video-after"></video>
                        <input type="range" min="0" max="100" value="50" id="slider" oninput="moveDivisor()">
                        <div id="divisor">
                            <video autoplay muted loop id="video-before"></video>
                        </div>
                    </div>
                    <div id="comparison__splitter"></div>
                </div>
            </div>
        </section>
        <!-- Comparison end -->

        <!-- Game-universe start -->
        <section class="section-block">
            <div class="wrapper">
                <div class="section-frame black-frame-line">Mass Effect Universe</div>
                <div class="section-caption">
                    <h3 class="section-caption__title">New to the Mass Effect trilogy? Learn about the history of the series, the incredible characters you'll meet, and more.</h3>
                    <ul class="section-caption__desc game-universe__features">
                        <li class="game-universe__feature">
                            Game overview
                            <a href="#!" class="game-universe__link"></a>
                        </li>
                        <li class="game-universe__feature">
                            Community hub
                            <a href="#!" class="game-universe__link"></a>
                        </li>
                        <li class="game-universe__feature">
                            System requirements
                            <a href="#!" class="game-universe__link"></a>
                        </li>
                        <li class="game-universe__feature">
                            Accessibility
                            <a href="#!" class="game-universe__link"></a>
                        </li>
                        <li class="game-universe__feature">
                            Media
                            <a href="#!" class="game-universe__link"></a>
                        </li>
                        <li class="game-universe__feature">
                            The Mass Effect Universe
                            <a href="#!" class="game-universe__link"></a>
                        </li>
                        <li class="game-universe__feature">
                            Art creator
                            <a href="#!" class="game-universe__link"></a>
                        </li>
                        <li class="game-universe__feature">
                            Performance details
                            <a href="#!" class="game-universe__link"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Game-universe end -->

        <!-- News start -->
        <section class="section-block news">
            <div class="wrapper">
                <div class="section-frame black-frame-line">News</div>
                <div class="section-caption">
                    <h3 class="section-caption__title">Get the latest information about Mass Effect™ Legendary Edition.</h3>
                </div>
                <ul class="news-cards">
                    <li class="news-card news-card_main-card">
                        <div class="news-card__pic">
                            <img src="./img/game-detail-news-card1.jpg" alt="main-news-pic" class="news-card__img">
                        </div>
                        <div class="news-card__desc">
                            <h6 class="news-card__date">Nov. 7, 2021</h6>
                            <h5 class="news-card__title">Happy N7 Day</h5>
                            <p class="news-card__text">Join us as we celebrate all things Mass Effect</p>
                        </div>
                        <a href="#!" class="news-card__link"></a>
                    </li>
                    <li class="news-card news-card_second-card">
                        <div class="news-card__pic">
                            <img src="./img/game-detail-news-card2.jpg" alt="news-pic-2" class="news-card__img">
                        </div>
                        <div class="news-card__desc">
                            <h6 class="news-card__date">June 28, 2021</h6>
                            <h5 class="news-card__title">28 June Hotfix</h5>
                            <p class="news-card__text">Fixes, improvements and additional optimizations.</p>
                        </div>
                        <a href="#!" class="news-card__link"></a>
                    </li>
                    <li class="news-card news-card-third-card">
                        <div class="news-card__pic">
                            <img src="./img/game-detail-news-card3.jpg" alt="news-pic-3" class="news-card__img">
                        </div>
                        <div class="news-card__desc">
                            <h6 class="news-card__date">June 7, 2021</h6>
                            <h5 class="news-card__title">7 June Update</h5>
                            <p class="news-card__text">We've made the following fixes and improvements across all platforms in this update.</p>
                        </div>
                        <a href="#!" class="news-card__link"></a>
                    </li>
                    <li class="news-card news-card-last-card">
                        <div class="news-card__pic">
                            <img src="./img/game-detail-news-card4.jpg" alt="news-pic-4" class="news-card__img">
                        </div>
                        <div class="news-card__desc">
                            <h6 class="news-card__date">May 17, 2021</h6>
                            <h5 class="news-card__title">17 May Update</h5>
                            <p class="news-card__text">A variety of fixes and improvements across the trilogy.</p>
                        </div>
                        <a href="#!" class="news-card__link"></a>
                    </li>
                </ul>
                <div class="news__more">
                    <a href="#!" class="section-more-btn news__more">
                        Load more
                        <img src="./img/svg/link-arrow.svg" alt="" class="section-more-btn__arrow">
                    </a>
                </div>
            </div>
        </section>
        <!-- News end -->

        <!-- Join-us start -->
        <section class="section-block">
            <div class="wrapper">
                <div class="section-frame black-frame-line">Join us</div>
                <div class="section-caption join-us__caption">
                    <h3 class="section-caption__title ">Mass Effect is now available on PC (Origin, Steam), Console (Xbox One, PS4, compatible with next gen). Please, select your platform.</h3>
                    <div class="join-us-platforms">
                        <div class="join-us-platform origin-platform">
                            <img src="/img/svg/game-detail-origin-thumb.svg" alt="">
                            Origin
                            <a href="#!" class="join-us-platform__link"></a>
                        </div>
                        <div class="join-us-platform steam-platform">
                            <img src="/img/svg/game-detail-steam-thumb.svg" alt="">
                            Steam
                            <a href="#!" class="join-us-platform__link"></a>
                        </div>
                        <div class="join-us-platform ps-platform">
                            <img src="/img/svg/game-detail-ps-thumb.svg" alt="">
                            PS
                            <a href="#!" class="join-us-platform__link"></a>
                        </div>
                        <div class="join-us-platform xbox-platform">
                            <img src="/img/svg/game-detail-xbox-thumb.svg" alt="">
                            Xbox
                            <a href="#!" class="join-us-platform__link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Join-us end -->

        <div class="wrapper">
            <a href="#!" class="go-to-other-page">
                Go to Dragon Age
                <img src="./img/svg/link-arrow-lg.svg" alt="" class="go-to-other-page__arrow">
            </a>
        </div>
    </main>
    <!-- Footer start-->
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__wrapper">
                <div class="footer__container">
                    <div class="footer__logo">
                        <a href="./index.html" class="footer__logo-link">BioWare</a>
                    </div>
                    <div class="footer__follow_us">
                        Follow us
                    </div>
                    <ul class="footer__social_networks">
                        <li>
                            <a href="http://www.facebook.com/BioWare"><img src="./img/svg/bi_meta.svg" alt=""></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/BioWare"><img src="./img/svg/bi_twitter.svg" alt=""></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCePE_9yUaBe478B_CuCBcoA"><img src="./img/svg/bi_youtube.svg" alt=""></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/biowarebase/"><img src="./img/svg/bi_instagram.svg" alt=""></a>
                        </li>
                    </ul>
                </div>

                <nav class="footer__nav">
                    <ul class="footer__main-list">
                        <li class="footer__item">
                            <a href="./about.html">About</a>
                        </li>
                        <li class="footer__item">
                            <a href="./games.html">Our games</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Careers</a>
                        </li>
                        <li class="footer__item">
                            <a href="./contacts.html">Contact</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">News</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Store</a>
                        </li>
                    </ul>
                    <ul class="footer__legal-list">
                        <li class="footer__item">
                            <a href="#!">User Agreement</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Privacy policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Cookie policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Legal</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Support</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!">Press</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__license">©2021 Electronic Arts Inc. All rights reserved.</div>
        </div>
    </footer>
    <!-- Footer end -->
    <script src="./scripts/main.js"></script>
    <script src="./scripts/jquery.min.js"></script>
    <script src="./slick/slick.min.js"></script>
    <script src="./scripts/game-detail.js"></script>
</body>
</html>
